---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "vendor/bourbon/bourbon", "vendor/neat/neat", "_mixins.scss";

// Fonts
$base-font-size: 20;
$base-line-height: 1.3;

// Animation
$transition: 0.3s ease;
$default-transition: 0.3s ease;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout", "syntax-highlighting", "components", "images";
