---
layout: default
theme: dark
---

<div class="banner-image">
  <section class="hero">
    <div class="headline">
      <h4 class="emdash">Welcome, I'm Dominic</h4>
      <h1>Designer & craft leader</h1>
      <p>
        Creating opinionated strategies, cultures and experiences that help
        differentiate products in the market — products that win, because they
        are fundamentally better to use than their competitors.
      </p>
    </div>
    <a class="focus" href="/writing/one-eye-sees-the-other-feels/">
      <div class="callout">
        <img src="/assets/site/oestof.png" />
        <h4>Season Focus</h4>
        <p>Exploring the relationship between tools, creators & craft.</p>
      </div>
    </a>
  </section>
</div>

<section>
  <h4>Impact</h4>
  <h2>I love helping companies beat competitors on quality</h2>
  <div class="tiles">
    <div>
      <img src="/assets/site/focus.svg" />
      <h3>➊ Core experience</h3>
      <p>
        "What happened to you?" Moss: "I got cockney neck. I've been speaking
        too much cockney, and it done my bloody neck in."
      </p>
    </div>
    <div>
      <img src="/assets/site/strategy.svg" />
      <h3>➋ Strategy & culture</h3>
      <p>
        "What happened to you?" Moss: "I got cockney neck. I've been speaking
        too much cockney, and it done my bloody neck in."
      </p>
    </div>
    <div>
      <img src="/assets/site/refine.svg" />
      <h3>➌ Transformation work</h3>
      <p>
        "What happened to you?" Moss: "I got cockney neck. I've been speaking
        too much cockney, and it done my bloody neck in."
      </p>
    </div>
  </div>
</section>

<section>
  <h4>Career</h4>
  <h2>Experienced in AR to SaaS, and seed to series C</h2>
  <ul class="link-stack">
    {% for chapter in site.chapters %}
    <li>
      <a class="link-item" href="{{ chapter.url }}">
        <div>
          <h3>{{ chapter.role }}</h3>
          <h3 class="{{ chapter.theme }} info">{{ chapter.timeframe }}</h3>
        </div>
        <!-- <div> -->
        <!-- <h3 class="{{ chapter.theme }} info">{{ chapter.timeframe }}</h3> -->
        <h3 class="{{ chapter.theme }} arrow">→</h3>
        <!-- </div> -->
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<section>
  <h4>Work</h4>
  {% for project in site.projects %}
  <a class="halo" href="{{ project.url }}">
    <div class="vingette">
      <img src="{{ project.image }}" />
      <div>
        <h3>
          <span class="timeline {{ project.theme }}">{{ project.year }}</span>{{
          project.title }}
        </h3>
        <h3 class="arrow {{ project.theme }} arrow">→</h3>
      </div>
    </div>
  </a>
  {% endfor %}
</section>

<section>
  <h4>Practices</h4>
  <h2>Exploring the systems that enable excellence</h2>
  <div class="tiles">
    <a class="tile" href="/writing/">
      <div>
        <img src="/assets/site/test-card.jpg" />
        <h3>Writing</h3>
      </div>
    </a>
    <a class="tile" href="/photography/">
      <div>
        <img src="/assets/site/test-card.jpg" />
        <h3>Photography</h3>
      </div>
    </a>
    <a class="tile" href="/systems/">
      <div>
        <img src="/assets/site/test-card.jpg" />
        <h3>Systems</h3>
      </div>
    </a>
    <a class="tile" href="/bookshelf/">
      <div>
        <img src="/assets/site/test-card.jpg" />
        <h3>Reading</h3>
      </div>
    </a>
  </div>
</section>

<div class="banner">
  <section class="nested">
    <div>
      <h4>Profile</h4>
      <h2>A lifelong practice</h2>
      <p>
        Dominic Sebastian, a designer by profession, finds himself obsessively
        thinking about how to practice more considered design. Even as he makes
        progress, the work never stops, and he faces new challenges in finding
        creative fulfillment.
      </p>
      <button
        class="link-button {{ chapter.theme }}"
        onclick="location.href='/profile'"
      >
        Read more
      </button>
    </div>
    <div class="flexy">
      <div class="face sixty"></div>
      <div class="face seventy"></div>
      <div class="seventy-b"></div>
      <div class="face eighty"></div>
      <div class="eighty-b"></div>
      <div class="face ninety"></div>
      <div class="ninety-b"></div>
      <div class="face hunny"></div>
      <div class="hunny-b"></div>
      <div class="face hunnyy"></div>
    </div>
  </section>
</div>
