<div class="footer">
  <div>
    <div>
      <a href="https://www.youtube.com/watch?v=9tXVK7fh-kI"
        >© Always and forever {% include svg/icon-music.svg %}</a
      >
      <p>Designed, written and carefully built, by Dominic Sebastian</p>
    </div>
    <div class="socials">
      <a href="https://www.linkedin.com/in/dominicsebastian/?originalSubdomain=au"><h5>Linkedin</h5></a>
      <a href="https://twitter.com/dominosebastian"><h5>Twitter</h5></a>
      <a href="mailto:dominic@considered.design"><h5>Email</h5></a>
    </div>
  </div>
</div>
