<nav>
  <div class="items">
    <p {% if page.url == '/' %} class="active fade-in-4"{% endif %}>
      <a class="fade-in-4 logo-a" href="{{ site.baseurl }}/">Considered Design</a>
      <a class="fade-in-4 logo-b" href="{{ site.baseurl }}/">CD</a>
    </p>
    {% if page.url contains 'work/qwilr' %} 
    <p class="active fade-in-4">
      <a href="/work/">Work</a>{% include svg/chevron.svg %}<a href="/chapters/qwilr/">Qwilr</a>
    </p>
    {% else %}
    <p {% if page.url == '/work/' %} class="active fade-in-4"{% endif %}>
      <a class="fade-in-4" href="/work/">Work</a>
    </p>
    {% endif %}
    <p {% if page.url == '/blog/' %} class="active fade-in-4"{% endif %}>
      <a class="fade-in-4" href="/blog/">Writing</a>
    </p>
    <!-- <p {% if page.url == '/profile/' %} class="active fade-in-up-4"{% endif %}>
      <a class="fade-in-up-4" href="/profile/">Profile</a>
    </p> -->
  </div>
  <div class="cta fade-in-4">
    {% include svg/dot.svg %}
    <p>Available for new projects</p>
    <p class="icon-button" onclick="location.href='mailto:dominic@considered.design'"
    >{% include svg/Envelope.svg %}</p>
    <!-- <div class="tooltip">
      <h6>Email</h6>
      <p>dominic@considered.design</p>
      <button class="link-button {{ page.theme }}" onclick="location.href='linkedin.com'">Open in Mail</button>
  </div>-->
  </div>
</nav>