<nav>
  <div class="items">
    <p {% if page.url == '/' %} class="active"{% endif %}>
      <!-- <a class="fade-in-up-1" href="{{ site.baseurl }}/">Considered Design</a> -->
      <a class="fade-in-up-1 logo" href="{{ site.baseurl }}/">{% include svg/cd-logo.svg %}</a>
    </p>
    {% if page.url contains 'work/qwilr' %} 
    <p class="active fade-in-up-2">
      <a href="/work/">Work</a><span class="icon-text">▶</span><a href="/chapters/qwilr/">Qwilr</a>
    </p>
    {% else %}
    <p {% if page.url == '/work/' %} class="active fade-in-up-2"{% endif %}>
      <a class="fade-in-up-2" href="/work/">Work</a>
    </p>
    {% endif %}
    <p {% if page.url == '/blog/' %} class="active fade-in-up-3"{% endif %}>
      <a class="fade-in-up-3" href="/blog/">Writing</a>
    </p>
    <p {% if page.url == '/profile/' %} class="active fade-in-up-4"{% endif %}>
      <a class="fade-in-up-4" href="/profile/">Ephemera</a>
    </p>
  </div>
  <div class="cta">
    <p>Open to opportunities</p>
    <button>Reach out</button>
    <!-- <div class="tooltip">
      <h6>Email</h6>
      <p>dominic@considered.design</p>
      <button class="link-button {{ page.theme }}" onclick="location.href='linkedin.com'">Open in Mail</button>
  </div>-->
  </div>
  <!-- <p {% if page.url == '/profile/' %} class="active-d"{% endif %}>
    <a class="fade-in-up-3" href="/profile/">a site created by Dominic Sebastian</a>
  </p> -->
</nav>