<nav>
  <div>
    <p {% if page.url == '/' %} class="active"{% endif %}>
      <!-- <a class="fade-in-up-1" href="{{ site.baseurl }}/">Considered Design</a> -->
      <a class="fade-in-up-1" href="{{ site.baseurl }}/">{% include svg/logo-cd.svg %}</a>
    </p>
    <p {% if page.url == '/career/' %} class="active-b"{% endif %}>
      <a class="fade-in-up-1" href="/career/">Career</a>
    </p>
    <!-- <p {% if page.url == '/chapters/' %} class="active-b"{% endif %}>
      <a class="fade-in-up-1" href="/chapters/">Work</a>
    </p> -->
    <p {% if page.url == '/blog/' %} class="active-b"{% endif %}>
      <a class="fade-in-up-1" href="/blog/">Writing</a>
    </p>
    <p {% if page.url == '/profile/' %} class="active-c"{% endif %}>
      <a class="fade-in-up-2" href="/profile/">Profile</a>
    </p>
  </div>
  <div class="cta">
    <p>Open to opportunities</p>
    <button class="button">Reach out</button>
  </div>
  <!-- <p {% if page.url == '/profile/' %} class="active-d"{% endif %}>
    <a class="fade-in-up-3" href="/profile/"><span>a site created by</span>Dominic Sebastian</a>
  </p> -->
</nav>