<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#00021A" />
  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <!-- OG data for homepage -->
  <meta property="og:type" content="website" />
  {% if page.url %}
    <meta content="{{ page.url }}" property="og:url"/>
    <meta name="twitter:url" value="{{ page.url }}"/>
  {% else %}
    <meta property="og:url" content="{{ site.url }}"/>
    <meta name="twitter:url" value="{{ site.url }}"/>
  {% endif %}
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title"/>
    <meta name="twitter:title" content="{{ page.title }}"/>
  {% else %}
    <meta content="{{ site.title }}" property="og:title"/>
    <meta name="twitter:title" content="{{ site.title }}"/>
  {% endif %}
  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description"/>
  <meta name="twitter:description" content="{{ page.description }}"/>
  {% else %}
  <meta content="{{ site.description }}" property="og:description"/>
  <meta name="twitter:description" content="{{ site.description }}"/>
  {% endif %}
  <meta content="{{ site.title }}" property="og:site_name"/>
  <meta name="twitter:card" content="summary_large_image" />
  {% if page.image %}
    <meta content="{{ page.image }}" property="og:image"/>
    <meta name="twitter:image:src" content="{{ page.image }}">
  {% else %}
    <meta content="/assets/site/opengraph.jpg" property="og:image"/>
    <meta name="twitter:image:src" content="/assets/site/opengraph.jpg">
  {% endif %}


  <link rel="stylesheet" href="https://use.typekit.net/bgh8ugb.css" />
  {% include modules/favicons.html %} <link rel="stylesheet" href="{{
  "/css/main.css" | prepend: site.baseurl }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
