<!-- Begin Mailchimp Signup Form -->
<link
  href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css"
  rel="stylesheet"
  type="text/css"
/>
<style type="text/css">
  #mc_embed_signup {
    /* clear: left;
    width: 100%;
    margin-bottom: 90px; */
  }
  #mc_embed_signup form {
    text-align: right;
  }

  #mc_embed_signup .button {
    /* color: #4d646f;
    background-color: #ffffff;
    height: 40px;
    font-size: 18px;
    letter-spacing: 0px;
    font-family: "Degular Regular", Helvetica, Arial, sans-serif; */
    display: inline-block;
    height: auto;
    color: var(--colour-base);
    background-color: var(--colour-lighter);
    text-align: center;
    font-size: 22px;
    padding: 5px 20px 10px;
    margin: 0px;
    font-family: "Obviously Semi";
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    line-height: initial !important;
    box-sizing: border-box;
  }
  #mc_embed_signup .button:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  #mc_embed_signup input.email {
    border: none;
    margin-right: 20px;
    border-radius: 0;
    color: var(--colour-lighter);
    background-color: var(--colour-darker);
    padding: 5px 20px 10px;
    height: auto;
    text-transform: uppercase;
    box-shadow: 0px 1px 0px 0px var(--colour-lighter);
    width: auto;
    text-decoration: none;
    font-size: 22px;
    font-family: "Obviously Semi";

    /* border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    height: 40px;
    padding: 0px 0.6em;
    width: 330px;
    font-size: 18px;
    font-family: "Degular Regular", Helvetica, Arial, sans-serif; */
  }
  #mc_embed_signup input::placeholder {
    color: var(--colour-lighter);
  }
  #mc_embed_signup input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  #mc_embed_signup input:focus {
    outline: none !important;
  }
</style>
<div id="mc_embed_signup">
  <form
    action="https://design.us4.list-manage.com/subscribe/post?u=f690518ef0d593adebfb24f19&amp;id=5adfc40086"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  >
    <div id="mc_embed_signup_scroll">
      <input
        type="email"
        value=""
        name="EMAIL"
        class="email"
        id="mce-EMAIL"
        placeholder="Enter your email here"
        required
      />
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px" aria-hidden="true">
        <input
          type="text"
          name="b_f690518ef0d593adebfb24f19_5adfc40086"
          tabindex="-1"
          value=""
        />
      </div>
      <div class="clear">
        <input
          type="submit"
          value="Subscribe"
          name="subscribe"
          id="mc-embedded-subscribe"
          class="button"
        />
      </div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
