// SCALE UP ANIMATION

.fade-in-up-1 {
  animation: fade-in-up-1;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-up-1 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up-1 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-2 {
  animation: fade-in-up-2;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-up-2 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up-2 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-3 {
  animation: fade-in-up-3;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}


@-webkit-keyframes fade-in-up-3 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up-3 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-4 {
  animation: fade-in-up-4;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}


@-webkit-keyframes fade-in-up-4 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up-5 {
  animation: fade-in-up-5;
  animation-duration: 2.5s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}


@-webkit-keyframes fade-in-up-5 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-4 {
  animation: fade-in-4;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}


@-webkit-keyframes fade-in-4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
	}
}

@keyframes fade-in-up-4 {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-up {
  animation: fade-in-up;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-up {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-up {
  0% {
    transform: translate(0px,var(--space-s));
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.fade-in-bottom {
  animation: fade-in-bottom;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transform-origin: 50%;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    transform: translate(30px,0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

@keyframes fade-in-bottom {
  0% {
    transform: translate(30px,0px);
    opacity: 0;
  }
  100% {
    transform: translate(0px,0px);
    opacity: 1;
	}
}

.pulse {
  animation: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  transform-origin: 50%;
  fill: var(--colour-100);
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
	}
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pinwheel {
  animation: pinwheel 15s ease infinite;
}

@keyframes pinwheel {
	0% {
		color: #ee7752;
    fill: #ee7752;
	}
	50% {
		color: #e73c7e;
    fill: #e73c7e;

	}
	100% {
		color: #23a6d5;
    fill: #23a6d5;
	}
  100% {
		color: #23d5ab;
    fill: #23d5ab;
	}
}

