/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

@include font-face(
  "Degular Display Light",
  "../assets/fonts/Degular_Display-Light",
  ("woff2", "woff")
);
@include font-face(
  "Degular Display Italic",
  "../assets/fonts/Degular_Display-Light_Italic",
  ("woff2", "woff")
);
@include font-face(
  "Degular Display Regular",
  "../assets/fonts/Degular_Display-Regular",
  ("woff2", "woff")
);
@include font-face(
  "Degular Display Italic",
  "../assets/fonts/Degular_Display-Italic",
  ("woff2", "woff")
);
@include font-face(
  "Degular Display Bold",
  "../assets/fonts/Degular_Display-Bold",
  ("woff2", "woff")
);
@include font-face(
  "Degular Display Bold Italic",
  "../assets/fonts/Degular_Display-Bold_Italic",
  ("woff2", "woff")
);
@include font-face(
  "Degular Display Black",
  "../assets/fonts/Degular_Display-Black",
  ("woff2", "woff")
);
@include font-face(
  "Degular Display Black Italic",
  "../assets/fonts/Degular_Display-Black_Italic",
  ("woff2", "woff")
);
@include font-face(
  "Obviously",
  "../assets/fonts/Obviously-Condensed",
  ("woff2", "woff")
);
@include font-face(
  "Obviously Semi",
  "../assets/fonts/ObviouslyDemo-CondensedSemibold",
  ("woff2", "woff")
);
@include font-face(
  "Degular",
  "../assets/fonts/Degular-Regular",
  ("woff2", "woff")
);
@include font-face(
  "Degular Italic",
  "../assets/fonts/Degular-Italic",
  ("woff2", "woff")
);

body {
  font-family: "Degular";
  font-size: $base-font-size;
  @include font-size(1, 1.3);
  line-height: $base-line-height;
  font-feature-settings: "lnum", "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1;
  -moz-font-feature-settings: "lnum", "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1;
  -ms-font-feature-settings: "lnum", "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1;
  -webkit-font-feature-settings: "lnum", "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1;
  -o-font-feature-settings: "lnum", "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  hanging-punctuation: first;
}

blockquote p {
  hanging-punctuation: first;
}

//TODO update all text to be clamp

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour-text);
  font-family: "Degular Display Bold";
}

h1 {
  color: var(--text-headline);
  line-height: 0.8;
  min-height: 0vw;
  letter-spacing: -1px;
  font-size: clamp(90px, 12vw, 190px);
  margin-bottom: 0.25em;
  font-weight: normal !important;
}

h2 {
  font-size: clamp(50px, 10vw, 110px);
  min-height: 0vw;
  line-height: 0.9;
  letter-spacing: -1px;
  font-weight: normal !important;
  max-width: 20ch;
  margin: 0.5em 0 1em 0;
}

h3 {
  font-size: clamp(30px, 5vw, 40px);
  line-height: 0.9;
  font-weight: normal !important;
  margin: 0.35em 0 0.25em 0;
}

h4 {
  font-family: "Obviously Semi";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--colour-light);
  font-weight: normal !important;
  font-size: clamp(24px, 2vw, 30px);
  line-height: 1;
  margin-bottom: 50px;
}

h5 {
  // color: var(--colour-darker);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: normal !important;
  font-size: $base-font-size + px;
  font-family: "Degular Display Regular";
}

h6 {
  color: var(--text-muted);
  font-size: clamp(20px, 2vw, 26px);
  // @include font-size(1, 1.5);
  line-height: 1;
  font-weight: normal !important;
}

.emdash::after {
  content: url("/assets/site/thin-stroke.svg");
  display: inline-flex;
  margin-left: 10px;
  margin-bottom: 30px;
  vertical-align: middle;
}

p {
  font-family: "Degular";
  font-size: clamp(16px, 1em, 20px);
  opacity: 0.75;
}

.light {
  font-family: "Degular Display Light" !important;
}
.regular {
  font-family: "Degular Display Regular" !important;
}
.bold {
  font-family: "Degular Display Bold" !important;
}

article {
  // display: grid;
  // @include margin(3, 5);
  margin: 100px auto;
  // place-items: center;

  h2,
  h3,
  h4,
  h5,
  p {
    width: clamp(150px, 85vw, 600px);
  }

  h1 {
    // @include margin(3, 1);
    margin: 1em auto 0.5em auto;
    color: var(--onyx);
  }

  h2 {
    // @include margin(3, 1);
    margin: 1em auto 0.5em auto;
    font-size: clamp(50px, 6vw, 80px);
    color: var(--onyx);
  }

  h3 {
    @include font-size(2, 2.5);
    font-size: clamp(30px, 3vw, 42px);
    color: var(--onyx);
    margin: 1em auto 0.5em auto;
  }

  h4 {
    // @include margin(1, 0);
    margin: 0.5em auto 0.25em auto;
    color: var(--onyx);
  }

  h5 {
    @include margin(1, 0.5);
    color: var(--onyx);
  }

  h6 {
    @include margin(1, 0);
    color: var(--onyx);
  }

  p {
    // @include margin(0, 1);
    margin: 0 auto 1.5em auto;
    color: var(--slate);
    // text-indent: 20px;
    a {
      color: inherit;
      border-bottom: 1px solid var(--colour-light);
      &:hover {
        background-color: var(--colour-light-dimmest);
        color: var(--colour-light);
        @include transition(all $default-transition);
      }
    }
  }
  p + p {
    text-indent: 1em;
  }
}

hr {
  margin: 20px 0 20px 0;
  border: none;
  border-top: 1px solid var(--colour-darkest, grey);
}

img,
blockquote,
ul,
ol,
dl,
%vertical-rhythm {
  @include margin(0, 1);
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: var(--spacer-small);
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  @include font-size(1, 1.1);
  text-align: center;
  color: var(--slate);
  margin: 20px;
}

ul {
  margin-left: var(--space-small);
}

ol {
  list-style-type: none;
  margin-left: -30px;
}

ol > li {
  counter-increment: customlistcounter;
}

ol > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  float: left;
  width: 30px;
}

ol:first-child {
  counter-reset: customlistcounter;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  padding-left: var(--spacer);
  font-style: italic;
  border-left: 2px solid var(--colour-base);

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  @include font-size(1, 1.1);
  border: 1px solid grey;
  border-radius: 3px;
  background-color: var(--smoke);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.label {
  transform: translateY(1.7em);
  background: white;
  display: inline-flex;
  padding-right: 0.5em;
  margin: 0;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: inherit;
    }
  }
}

.breadcrumb {
  display: flex;

  > * {
    padding-bottom: 5px;
  }

  a {
    // border-bottom: 1px solid var(--colour-light-dimmed);
    // padding-bottom: 7px;

    &:hover {
      // border-bottom: 1px solid var(--colour-light);
      background: var(--colour-light-dimmest);
      // background: var(--colour-light-dimmestest);
      box-shadow: 0 0 0 8px var(--colour-light-dimmest);
      border-radius: var(--radius-xs);
      @include transition(all $default-transition);

    }
  }
}

.icon-text {
  font-family: "Degular Display Light";
  margin: 5px 10px 0 10px;
  font-size: 20px;
}

.arrow {
  opacity: 0;
  font-family: "Degular Display Light";
  margin: 0;
  padding: 0;
  align-self: center;
}
