/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

@include font-face(
  "Degular Light",
  "../assets/fonts/Degular_Display-Light",
  ("woff2", "woff")
);
@include font-face(
  "Degular Light Italic",
  "../assets/fonts/Degular_Display-Light_Italic",
  ("woff2", "woff")
);
@include font-face(
  "Degular Regular",
  "../assets/fonts/Degular_Display-Regular",
  ("woff2", "woff")
);
@include font-face(
  "Degular Italic",
  "../assets/fonts/Degular_Display-Italic",
  ("woff2", "woff")
);
@include font-face(
  "Degular Bold",
  "../assets/fonts/Degular_Display-Bold",
  ("woff2", "woff")
);
@include font-face(
  "Degular Bold Italic",
  "../assets/fonts/Degular_Display-Bold_Italic",
  ("woff2", "woff")
);
@include font-face(
  "Degular Black",
  "../assets/fonts/Degular_Display-Black",
  ("woff2", "woff")
);
@include font-face(
  "Degular Black Italic",
  "../assets/fonts/Degular_Display-Black_Italic",
  ("woff2", "woff")
);
@include font-face(
  "Obviously",
  "../assets/fonts/Obviously-Condensed",
  ("woff2", "woff")
);

body {
  font-family: "Degular Regular";
  font-size: $base-font-size;
  @include font-size(1, 1.3);
  line-height: $base-line-height;
  font-feature-settings: "lnum", "ss03" 1, "ss01" 1, "ss05" 1;
  -moz-font-feature-settings: "lnum" 1, "ss03" 1, "ss01" 1, "ss05" 1;
  -ms-font-feature-settings: "lnum", "ss03" 1, "ss01" 1, "ss05" 1;
  -webkit-font-feature-settings: "lnum", "ss03" 1, "ss01" 1, "ss05" 1;
  -o-font-feature-settings: "lnum", "ss03" 1, "ss01" 1, "ss05" 1;
  font-weight: 300;
  // background-color: var(--colour-base);
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  hanging-punctuation: first;
}

blockquote p {
  hanging-punctuation: first;
}

//TODO update all text to be clamp

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--colour-text);
  font-family: "Degular Bold";
}

h1 {
  color: var(--text-headline);
  line-height: 1;
  min-height: 0vw;
  @include font-size(5, 15);
  @include margin(3, 1);
}

h2 {
  @include font-size(3, 5);
  min-height: 0vw;
  line-height: 1;
  letter-spacing: -2px;
  @include margin(3, 1);
}

h3 {
  // font-size: 46px;
  @include font-size(2, 2.5);
  line-height: 1.2;
  // @include margin(2, 0.75);
}

h4 {
  font-family: "Obviously";
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--accent);
  // font-size: 32px;
  @include font-size(1, 2);
  line-height: 1;
  @include margin(1, 0);
}

h5 {
  color: var(--dark);
  text-transform: uppercase;
  // font-size: 24px;
  // @include font-size(1, 1.5);
  letter-spacing: 1px;
  line-height: 1;
  @include margin(1, 0.5);
  font-size: $base-font-size + px;
  font-family: "Degular Regular";
}

h6 {
  color: var(--text-muted);
  // font-size: 24px;
  @include font-size(1, 1.5);
  line-height: 1;
  @include margin(1, 0);
}

p {
  font-family: "Degular Light";
  @include font-size(1, 1.2);
  color: var(--slate);
  @include margin(0, 1);
}

.light {
  font-family: "Degular Light" !important;
}
.regular {
  font-family: "Degular Regular" !important;
}
.bold {
  font-family: "Degular Bold" !important;
}

.impact {
  @include font-size(5, 20);
  line-height: 0.8;
}

// h1,
// h2,
// h3,
// h6,
img,
blockquote,
// pre,
ul,
ol,
dl,
%vertical-rhythm {
  @include margin(0, 1);
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: var(--spacer-small);
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  @include font-size(1, 1.1);
  text-align: center;
  color: var(--slate);
  margin: 20px;
}

ul {
  margin-left: var(--space-small);
}

ol {
  list-style-type: none;
  margin-left: -30px;
}

ol > li {
  counter-increment: customlistcounter;
}

ol > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  float: left;
  width: 30px;
}

ol:first-child {
  counter-reset: customlistcounter;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: inherit;
  text-decoration: none;
  /*
    &:hover {
        color: $brand-secondary;
        text-decoration: underline;
        border-bottom: 1px solid $brand-secondary;
    }*/
}

/**
 * Blockquotes
 */
blockquote {
  padding-left: var(--spacer);
  font-style: italic;
  border-left: 2px solid var(--colour-base);

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  @include font-size(1, 1.1);
  border: 1px solid grey;
  border-radius: 3px;
  background-color: var(--smoke);
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.label {
  transform: translateY(1.7em);
  background: white;
  display: inline-flex;
  padding-right: 0.5em;
  margin: 0;
}

.button {
  display: inline-block;
  height: 45px;
  color: var(--colour-base);
  text-align: center;
  font-size: $base-font-size;
  // line-height: 40px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  // letter-spacing: -1px;

  &:hover,
  &:focus {
    // background-color: rgba($primary, 0.2);
    // border-bottom: 3px solid rgba($primary, 0);
  }

  @include transition(background-color 0.3s ease, border 0.3s ease);
}

.top {
  margin-top: 5px;
}

.left {
  float: left;
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: inherit;
    }
  }
}
