nav {
  // height: var(--space-large);
  // width: 100vw;
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  // position: fixed;
  height: 150px;
  place-items: center;
  // z-index: 99;
  // top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 750px) {
    .cta {
      display: none;
    }
  }

  img {
    margin: 0 !important;
  }

  // .active {
  //   &:after {
  //     content: "";
  //     width: 5em;
  //     height: 2em;
  //     // background-image: url(/assets/site/ring-a.svg);
  //     // background-repeat: no-repeat;
  //     // background-position: center;
  //     // background-size: 200px;
  //     -webkit-mask: url(/assets/site/ring-a.svg) no-repeat center;
  //     mask: url(/assets/site/ring-a.svg) no-repeat center;
  //     -webkit-mask-size: contain;
  //     mask-size: contain;
  //     background: var(--accent);
  //     position: absolute;
  //   }
  // }
  // .active-b {
  //   &:after {
  //     content: "";
  //     width: 3em;
  //     height: 3em;
  //     // background-image: url(/assets/site/ring-a.svg);
  //     // background-repeat: no-repeat;
  //     // background-position: center;
  //     // background-size: 200px;
  //     -webkit-mask: url(/assets/site/line-a.svg) no-repeat center;
  //     mask: url(/assets/site/line-a.svg) no-repeat center;
  //     -webkit-mask-size: contain;
  //     mask-size: contain;
  //     background: var(--accent);
  //     position: absolute;
  //   }
  // }
  // .active-c {
  //   &:after {
  //     content: "";
  //     width: 3em;
  //     height: 4em;
  //     // background-image: url(/assets/site/ring-a.svg);
  //     // background-repeat: no-repeat;
  //     // background-position: center;
  //     // background-size: 200px;
  //     -webkit-mask: url(/assets/site/line-b.svg) no-repeat center;
  //     mask: url(/assets/site/line-b.svg) no-repeat center;
  //     -webkit-mask-size: contain;
  //     mask-size: contain;
  //     background: var(--accent);
  //     position: absolute;
  //   }
  // }
  // .active-d {
  //   &:after {
  //     content: "";
  //     width: 8em;
  //     height: 2em;
  //     // background-image: url(/assets/site/ring-a.svg);
  //     // background-repeat: no-repeat;
  //     // background-position: center;
  //     // background-size: 200px;
  //     -webkit-mask: url(/assets/site/ring-b.svg) no-repeat center;
  //     mask: url(/assets/site/ring-b.svg) no-repeat center;
  //     -webkit-mask-size: contain;
  //     mask-size: contain;
  //     background: var(--accent);
  //     position: absolute;
  //   }
  // }
  p {
    @include spacing(0, 0);
    // @include font-size(1.2, 2);
    font-family: "Obviously Semi";
    font-size: 22px;
    display: inline-grid;
    color: var(--accent);
    opacity: 1;
    display: inline-flex;
    margin-right: var(--spacer);
    // @include transition(all $transition);
    // font-family: "Obviously";
    text-transform: uppercase;
    font-feature-settings: normal;

    span {
      @include font-size(0.5, 1);
      margin-right: var(--spacer);
    }

    &:hover {
      // color: rgba($primary, 1);
      text-decoration: none;
      // @include transition(all $transition);
    }
  }
}

.footer {
  background-color: var(--dark);
  width: 100vw;

  > div {
    display: grid;
    width: clamp(150px, 85vw, 1200px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    // width: 100vw;
    margin: 0 auto;

    // background: var(--accent);
    justify-content: space-between;
    align-items: center;
    // position: absolute;
    // z-index: 99;
    padding: 2vw 0;
    // height: var(--spacer-large);
  }

  * {
    color: white;
    @include spacing(0, 0);
  }
}
