// COMPONENTS

.button {
  display: inline-block;
  color: var(--colour-base);
  background-color: var(--colour-lighter);
  text-align: center;
  font-size: 22px;
  padding: 5px 20px 10px;
  margin: 0px;
  font-family: "Obviously Semi";
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  box-sizing: border-box;

  &:hover,
  &:focus {
    // background-color: rgba($primary, 0.2);
    // border-bottom: 3px solid rgba($primary, 0);
  }

  // @include transition(background-color 0.3s ease, border 0.3s ease);
}

.collaborator {
  height: 20px !important;
  width: 20px;
  border-radius: 10px;

  .info {
    background: black;
    color: white;
    padding: 20px;
    visibility: hidden;
    position: absolute;
    z-index: 99;
  }

  &:hover .info {
    visibility: visible;
    position: absolute;
  }
}

.link-stack {
  li {
    border-bottom: 1px solid var(--colour-darkest);
    list-style-type: none;
    align-items: baseline;

    .link-item {
      display: inline-flex;
      width: 100%;
      h3 {
        padding-top: var(--spacer);
        padding-bottom: var(--spacer);
        // top: -16px;
      }

      h3:nth-of-type(2) {
        font-family: Obviously;
        font-size: 46px;
        // position: relative;
        margin-left: 20px;
        font-feature-settings: normal;
      }
      &:hover {
        background-color: var(--colour-darkest);
        @include transition (all $default-transition);
      }
    }
  }

  li:last-child {
    border-bottom: none;
  }
}

.vingette {
  margin-bottom: 70px;
  padding-bottom: 20px;

  .vtest &:hover {
    background-color: var(--colour-darkest);
    box-shadow: 0 0 0 20px var(--colour-darkest);
    @include transition(all $default-transition);
    border-radius: 4px;
  }

  img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }

  div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div > * {
    display: flex;
    align-items: center;
  }

  h3:first-of-type {
    font-family: "Obviously Semi";
    color: var(--colour-lighter);
    margin-right: 20px;
    font-size: 60px;
    margin-top: -10px;
  }

  h3 {
    font-size: clamp(25px, 3vw, 35px);
  }
}

// PATTERNS

nav {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  height: 150px;
  place-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 750px) {
    .cta {
      display: none;
    }
  }

  img {
    margin: 0 !important;
  }

  // .active {

  p {
    @include spacing(0, 0);
    font-family: "Obviously Semi";
    font-size: 22px;
    display: inline-grid;
    color: var(--colour-lighter);
    opacity: 1;
    display: inline-flex;
    margin-right: var(--spacer);
    text-transform: uppercase;
    font-feature-settings: normal;

    span {
      @include font-size(0.5, 1);
      margin-right: var(--spacer);
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.footer {
  background-color: var(--colour-darkest);
  width: 100vw;

  > div {
    display: grid;
    width: clamp(150px, 85vw, 1200px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0 5vw 0;
  }

  a {
    font-family: "Degular Bold";
    font-size: 32px;
    margin-bottom: 10px;
  }

  p {
    max-width: 30ch;
  }

  * {
    color: white;
    @include spacing(0, 0);
  }
}
