// COMPONENTS

button {
  display: inline-block;
  color: var(--colour-light-100);
  background-color: var(--colour-light-25);
  text-align: center;
  font-size: 22px;
  padding: 5px 20px 10px;
  margin: 0px;
  font-family: "Obviously Semi";
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  border-radius: var(--radius-s);
  @include transition(all $default-transition);

  &:hover {
    box-shadow: 0 0 0 3px var(--colour-light-50);
    background-color: var(--colour-light-50);
    @include transition(all $default-transition);
  }
}

.link-button {
  display: inline-block;
  background-color: transparent;
  text-align: center;
  font-size: 22px;
  padding: 10px 30px 15px 0px;
  margin: 0px;
  font-family: "Obviously Semi";
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 0 0 0;
  line-height: 22px;
  margin-top: 20px;
  @include transition(all $default-transition);

  &::after {
    content: "→";
    font-family: "Degular Display Light";
    font-size: 24px;
    margin-left: 10px;
    position: absolute;
  }

  &:hover {
    @include transition(all $default-transition);
    box-shadow: none;
    background-color: inherit;
    &::after {
      @include transition(all $default-transition);
      transform: translateX(10px);
    }
  }
}

.collaborators {
  display: inline-flex;
  margin-top: 20px;

  .collaborator {
    height: 40px !important;
    width: 40px;
    margin-right: 10px;

    img {
      border-radius: 100%;
      margin-bottom: 10px;
    }

    .info {
      background: var(--colour-darkest);
      color: white;
      padding: 25px 20px 20px 20px;
      visibility: hidden;
      position: absolute;
      z-index: 99;
      transform: translateY(-20px);
      @include transition(all $default-transition);
      border-radius: 10px;
      width: clamp(150px, 85vw, 320px);
      opacity: 0;

      @media (max-width: 450px) {
        left: 7.5vw;
      }

      h6 {
        color: white;
        margin: 0;
        margin-bottom: 10px;
      }

      p {
        font-size: 18px;
        color: white;
      }

      a {
        color: var(--colour-light);
      }
    }

    &:hover {
      img {
        box-shadow: 0 0 0 5px var(--colour-light-dimmed);
        @include transition(all $default-transition);
      }
      .info {
        visibility: visible;
        position: absolute;
        transform: translateY(0px);
        opacity: 1;
        @include transition(all $default-transition);
      }
    }
  }
}

.link-stack {
  li {
    border-bottom: 1px solid var(--colour-darkest);
    list-style-type: none;
    align-items: baseline;

    .link-item {
      display: inline-flex;
      width: 100%;
      align-items: baseline;
      justify-content: space-between;
      border-radius: 10px;
      @include transition(all $default-transition);

      div {
        display: inline-flex;
        align-items: baseline;
      }

      h3 {
        padding-top: var(--spacer);
        padding-bottom: var(--spacer);
        // min-width: 13ch;
        // max-width: 25ch;
      }
      .info {
        font-family: "Obviously Semi";
        // font-size: 46px;
        margin: 0 10px 0 20px;
        padding: 0px;
        font-feature-settings: normal;
        white-space: nowrap;
      }
      .arrow {
        opacity: 0;
        font-family: "Degular Display Light";
        margin: 0;
        padding: 0;
        align-self: center;
      }
      &:hover {
        background-color: var(--hover);
        padding: 0 30px 0 30px;
        @include transition(all $default-transition);

        .arrow {
          opacity: 1;
          @include transition(all $default-transition);
        }
      }
      @media (max-width: 650px) {
        .arrow {
          opacity: 1;
        }

        div {
          justify-content: space-between;
          width: 100%;
          align-items: center;
        }
      }
    }
  }

  li:last-child {
    border-bottom: none;
  }
}

.vingette {
  margin-bottom: 70px;
  padding: 20px;
  box-shadow: 0 0 0 1px var(--colour-light-25);
  border-radius: var(--radius-l);
  @include transition(all $default-transition);

  .halo &:hover {
    background-color: var(--colour-light-25);
    // box-shadow: 0 0 0 2px var(--colour-light-50);
    transform: translateY(-10px);
    @include transition(all $default-transition);
    // border-radius: 4px;
    // img {
    // padding: 0 5px 20px 5px;
    // }

    .arrow {
      opacity: 1;
      @include transition(all $default-transition);
    }
  }

  @media (max-width: 550px) {
    .arrow {
      display: none;
    }
  }

  img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }

  div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // div > * {
  //   display: flex;
  //   align-items: center;
  // }

  .timeline {
    font-family: "Obviously Semi";
    margin-right: 10px;
    font-size: 0.85em;
    // margin-top: -10px;
  }

  h3 {
    // font-size: clamp(25px, 3vw, 35px);
    align-items: baseline;
  }

  .arrow {
    opacity: 0;
    font-family: "Degular Display Light";
    margin: 0;
    padding: 0;
    align-self: center;
  }
}

.featured-posts {
  margin-bottom: 70px;
  padding-bottom: 20px;

  .halo &:hover {
    background-color: var(--colour-darkest);
    box-shadow: 0 0 0 20px var(--colour-darkest);
    @include transition(all $default-transition);
    border-radius: 4px;
  }

  // img {
  //   object-fit: cover;
  //   height: 60vh;
  //   width: 100%;
  // }

  div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div > * {
    display: flex;
    align-items: center;
  }

  h3:first-of-type {
    font-family: "Obviously Semi";
    margin-right: 20px;
    font-size: 60px;
    margin-top: -10px;
  }

  h3 {
    font-size: clamp(25px, 3vw, 35px);
  }
}

// PATTERNS

nav {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  height: 150px;
  place-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 750px) {
    .cta {
      display: none;
    }
  }

  .items {
    display: flex;
    align-items: center;

    // a:first-of-type {
    //   padding: 5px;
    // }
    a {
      padding: 5px 10px 10px 10px;

    }
    .logo {
      padding: 8px 5px 7px 5px;
    }

    p:hover {
      box-shadow: 0 0 0 1px var(--colour-light-dimmest);
      border-radius: var(--radius-m);
      @include transition(all $default-transition);
    }
  
    .active {
      box-shadow: 0 0 0 1px var(--colour-light-dimmed);
      border-radius: var(--radius-m);

      &:hover {
        box-shadow: 0 0 0 1px var(--colour-light-dimmed);
        border-radius: var(--radius-m);
        @include transition(all $default-transition);
      }
    }
  }

  p {
    // @include spacing(0, 0);
    margin: 0;
    padding: 0;
    font-family: "Obviously Semi";
    font-size: 22px;
    display: inline-grid;
    color: var(--colour-light);
    opacity: 1;
    display: inline-flex;
    margin-right: var(--spacer);
    text-transform: uppercase;
    font-feature-settings: normal;

    span {
      @include font-size(0.5, 1);
      margin-right: var(--spacer);
    }

    &:hover {
      text-decoration: none;
    }
  }
  .tooltip {
    background: var(--colour-darkest);
    color: white;
    padding: 25px 20px 20px 20px;
    visibility: hidden;
    position: absolute;
    z-index: 99;
    transform: translateY(-20px);
    @include transition(all $default-transition);
    border-radius: 10px;
    width: clamp(150px, 85vw, 320px);
    opacity: 0;

    @media (max-width: 450px) {
      left: 7.5vw;
    }

    h6 {
      color: white;
      margin: 0;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: white;
    }

    a {
      color: var(--colour-light);
    }
  }

  &:hover {
    .tooltip {
      visibility: visible;
      position: absolute;
      transform: translateY(10px);
      opacity: 1;
      @include transition(all $default-transition);
    }
  }

  img {
    margin: 0 !important;
  }

}

.footer {
  background-color: var(--colour-darkest);
  width: 100vw;

  > div {
    display: grid;
    width: clamp(150px, 85vw, 1200px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 0;
  }

  @media (max-width: 768px) {
    div:first-of-type {
      text-align: center;
    }
    p {
      margin: 0 auto;
    }
  }

  a {
    font-family: "Degular Display Bold";
    font-size: 26px;
    margin-bottom: 10px;
  }

  svg {
    margin-left: 10px;
  }

  p {
    max-width: 30ch;
    margin-top: 6px;
  }

  * {
    color: white;
    @include spacing(0, 0);
  }
}
