// IMAGE STYLES

.multiply {
  mix-blend-mode: multiply;
}

.device {
  border: 20px solid var(--onyx);
  border-radius: 40px;
}

.image {
  width: clamp(150px, 85vw, 650px);
  // border-radius: 20px;
  @include margin(3, 3);
}

.full-width-hero {
  margin-top: -93px;
  margin-bottom: 4.5rem;
  z-index: -1;
  border-radius: 0 !important;

  img {
    border-radius: 0;
  }
}

.full-width-image {
  @include margin(3, 3);
  border-radius: 0 !important;

  img {
    border: 1px solid var(--smoke);
    border-radius: 0 !important;
  }
}

.image-footer {
  @include margin(3, 0);
  border-radius: 0 !important;
}

.wide-image {
  width: clamp(150px, 85vw, 1380px);
  @include margin(3, 3);

  img {
    box-shadow: 0px 15px 35px var(--feather);
    border-radius: var(--spacer-small);
    border: 1px solid var(--feather);
  }
}

.image-grid {
  display: grid;
  width: clamp(150px, 85vw, 1380px);
  @include margin(3, 3);

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: var(--spacer);
  }
  img {
    border-radius: var(--spacer-small);
    border: 2px solid rgba(77, 100, 111, 0.15);
    box-shadow: 0px 15px 35px rgba(77, 100, 111, 0.1);
  }
}

.image-trio {
  display: grid;
  width: clamp(150px, 85vw, 1380px);
  @include margin(3, 3);

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--spacer);
  }

  img {
    border-radius: var(--spacer-small);
    border: 2px solid rgba(77, 100, 111, 0.15);
    box-shadow: 0px 15px 35px rgba(77, 100, 111, 0.1);
  }
}

.flexy {
  height: 80vh;
  background: #00064c;
  position: relative;
  width: 100%;
}

.face {
  background-image: url("https://poorly.considered.design/assets/site/dom-profile.jpg");
  background-size: cover;
  background-position: center;
}

.sixty {
  width: 65%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 190;
}

.seventy {
  width: 72%;
  height: 80%;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 180;
}

.seventy-b {
  width: 72%;
  height: 80%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 170;
}

.eighty {
  width: 79%;
  height: 85%;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 160;
}

.eighty-b {
  width: 79%;
  height: 85%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 150;
}

.ninety {
  width: 86%;
  height: 90%;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 140;
}

.ninety-b {
  width: 86%;
  height: 90%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 130;
}

.hunny {
  width: 93%;
  height: 95%;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 120;
}

.hunny-b {
  width: 93%;
  height: 95%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 110;
}

.hunnyy {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
