// Image styles

.multiply {
  mix-blend-mode: multiply;
}

.device {
  border: 20px solid var(--onyx);
  border-radius: 40px;
}

.image {
  width: clamp(150px, 85vw, 650px);
  // border-radius: 20px;
  @include margin(3, 3);
}

.full-width-hero {
  margin-top: -93px;
  margin-bottom: 4.5rem;
  z-index: -1;
  border-radius: 0 !important;

  img {
    border-radius: 0;
  }
}

.full-width-image {
  @include margin(3, 3);
  border-radius: 0 !important;

  img {
    border: 1px solid var(--smoke);
    border-radius: 0 !important;
  }
}

.image-footer {
  @include margin(3, 0);
  border-radius: 0 !important;
}

.wide-image {
  width: clamp(150px, 85vw, 1380px);
  @include margin(3, 3);

  img {
    box-shadow: 0px 15px 35px var(--feather);
    border-radius: var(--spacer-small);
    border: 1px solid var(--feather);
  }
}

.image-grid {
  display: grid;
  width: clamp(150px, 85vw, 1380px);
  @include margin(3, 3);

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: var(--spacer);
  }
  img {
    border-radius: var(--spacer-small);
    border: 2px solid rgba(77, 100, 111, 0.15);
    box-shadow: 0px 15px 35px rgba(77, 100, 111, 0.1);
  }
}

.image-trio {
  display: grid;
  width: clamp(150px, 85vw, 1380px);
  @include margin(3, 3);

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: var(--spacer);
  }

  img {
    border-radius: var(--spacer-small);
    border: 2px solid rgba(77, 100, 111, 0.15);
    box-shadow: 0px 15px 35px rgba(77, 100, 111, 0.1);
  }
}
