// TOKENS

body {
  // THEMABLE COLOURS
  --lightness: 25%;
  --opacity: 1;
  --colour-base: hsl(var(--hue), 100%, 25%);
  // DARKER
  --colour-darker: hsl(var(--hue, 260), 100%, 15%);
  --colour-darkest: hsla(var(--hue, 260), 100%, 5%, 1);
  --colour-darkest-dimmed: hsla(var(--hue, 260), 100%, 5%, 0.2);
  // LIGHTER
  --colour-lighter: hsl(var(--hue, 260), 100%, 65%);
  --colour-lighter-dimmed: hsla(var(--hue, 260), 100%, 65%, 0.75);
  --colour-lightest: hsl(var(--hue, 260), 100%, 75%, var(--opacity));
  // SPECIFIC COLOURS
  --text-headline: hsl(var(--hue), 0%, calc(var(--lightness) + 75%));
  --onyx: hsla(var(--hue, 0), 0%, 0%, var(--opacity));
  --slate: hsla(var(--hue, 0), 0%, 40%, var(--opacity));
  --smoke: hsla(var(--hue, 0), 0%, 80%, var(--opacity));
  --feather: hsla(var(--hue, 0), 0%, 90%, var(--opacity));
  // SPACING TOKENS
  --spacer-small: 10px;
  --spacer: 20px;
  --spacer-medium: 40px;
  --spacer-large: 100px;
}

// THEMES

.indigo {
  --hue: 235;
  --colour-text: white;
  background-image: url("/assets/site/noise.png");
  // background-image: url("/assets/site/noise.svg");
  background-color: var(--colour-darker);
  color: var(--colour-text);
  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

.dark {
  --hue: 235;
  --colour-text: white;
  background-image: url("/assets/site/noise.png");
  background-color: var(--colour-darker);
  color: var(--colour-text);
}

.maroon {
  --hue: 330;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

.emerald {
  --hue: 170;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

.purple {
  --hue: 266;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

// CONTAINERS

.banner {
  background-color: var(--colour-darkest);
}

.banner-layered {
  background-color: var(--colour-darkest);
  padding-bottom: 500px;
}

section {
  width: clamp(150px, 85vw, 1200px);
  //Make margin a ratio of the space add as a clamp property
  margin: 0 auto;
  padding: 10vh 0;
}

.sectiontest {
  // display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  // width: clamp(150px, 85vw, 1200px);
  //Make margin a ratio of the space add as a clamp property
  // margin: 0 auto;
  align-items: center;
  gap: 150px;

  h2 {
    margin: 0.5em 0 0.5em 0;
  }
}

// HEADERS

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 200px;
  margin-top: -150px;
  gap: 100px;

  .headline {
    flex: 5;
    min-width: 300px;
    max-width: 100%;
    p {
      width: clamp(325px, 85%, 50ch);
    }
  }

  .focus {
    flex: 2;
    min-width: 200px;
    max-width: 100%;
  }
}

.header {
  // width: clamp(150px, 85vw, 1200px);
  // margin: 0 auto;
  // margin-top: 10vh;
  padding-top: 250px;
  margin-top: -150px;
  h3,
  h4 {
    color: var(--colour-lighter);
  }

  p {
    max-width: 55ch;
    margin: 0 auto;
  }

  &.chapter {
    // padding-top: 250px;
    padding-bottom: 60px;
    // margin-top: -150px;
  }

  &.testest {
    // padding-top: 250px;
    padding-bottom: 400px;
    // margin-top: -150px;
  }

  &.centered {
    text-align: center;
  }
}

.hero-image {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  display: flex;
  margin-top: -350px !important;
}

// LAYOUTS

.pair {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;

  .bigger {
    flex: 7;
    min-width: 300px;
    max-width: 100%;
  }

  .smaller {
    flex: 4;
    min-width: 200px;
    max-width: 100%;

    h3,
    p {
      width: 100% !important;
    }
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  // margin-top: 100px;
  // margin-bottom: 30px;
  h2,
  h3,
  p {
    width: 100% !important;
    margin: 0px !important;
  }
}

.listings {
  ul {
    display: grid;
    width: clamp(150px, 85vw, 650px);
    margin: 0 auto;
  }

  li {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-top: 25px;
    padding-bottom: 5px;
  }
}

.callout {
  border-radius: 16px;
  background: var(--colour-darkest-dimmed);
  padding: 20px;

  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  p {
    font-size: clamp(18px, 2vw, 22px);
    opacity: 0.65;
  }
}

// OVERRIDES

.center {
  align-items: center;
  justify-content: center;
}

.end {
  align-items: end;
}

.reversed {
  order: 1;
}

.space-reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
