// HEROS
// LAYOUTS

// TODO should this be root instead?

body {
  // Colour variables
  --lightness: 25%;
  --opacity: 1;
  --colour-base: hsl(var(--hue), 100%, 25%);
  --dark: hsl(var(--hue), 100%, 15%);
  --darkest: hsl(var(--hue), 100%, 5%);
  --accent: hsl(var(--hue, 260), 100%, 65%);
  --accent-more: hsl(var(--hue), 100%, 75%);
  --text-headline: hsl(var(--hue), 0%, calc(var(--lightness) + 75%));
  --onyx: hsla(var(--hue, 0), 0%, 0%, var(--opacity));
  --slate: hsla(var(--hue, 0), 0%, 40%, var(--opacity));
  --smoke: hsla(var(--hue, 0), 0%, 80%, var(--opacity));
  --feather: hsla(var(--hue, 0), 0%, 90%, var(--opacity));
  // spacing variables
  --spacer-small: 10px;
  --spacer: 20px;
  --spacer-medium: 40px;
  --spacer-large: 100px;
}

// THEMES

.indigo {
  --hue: 235;
}
.test {
  --hue: 235;
  --colour-text: white;
  background-image: url("/assets/site/noise.png");
  background-color: var(--colour-base);
  color: var(--colour-text);
}
.profile {
  --hue: 235;
  --colour-text: white;
  color: var(--colour-text);
}
.jub {
  --hue: 100;
}
.work {
  --hue: 340;
}
.onyx {
  --colour-base: var(--onyx);
  img {
    width: clamp(350px, 50vw, 1000px);
  }
}

// CORE

article {
  display: grid;
  @include margin(3, 5);
  place-items: center;

  h2,
  h3,
  h4,
  h5,
  p {
    width: clamp(150px, 85vw, 650px);
  }
}

section {
  // display: grid;
  width: clamp(150px, 85vw, 1200px);
  //Make margin a ratio of the space add as a clamp property
  margin: 0 auto;
  padding: 10vh 0;
}

.sectiontest {
  // display: grid;
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: clamp(150px, 85vw, 1200px);
  //Make margin a ratio of the space add as a clamp property
  margin: 0 auto;
  align-items: center;
  gap: 150px;
}

.banner {
  background-color: var(--dark);
}

.writing-hero {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  margin-top: 10vh;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  align-content: flex-end;
  padding-top: 150px;
  margin-top: -150px;
  gap: 100px;
  // grid-template-columns: 8fr 4fr;
  // gap: 20px;
  // align-items: end;

  div:first-of-type {
    flex: 2;
    min-width: 400px;
    max-width: 100%;
  }

  a {
    flex: 1;
    min-width: 200px;
    max-width: 100%;
  }
}

.callout {
  border: 1px solid var(--accent);
  padding: 20px;

  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  p {
    font-size: clamp(18px, 2vw, 22px);
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.flex {
  /*   display: inline-flex;
  height: 100vh;
  width: 50%; */
  background: red;
}
.flexy {
  height: 80vh;
  background: #00064c;
  position: relative;
  width: 130%;
}

.face {
  background-image: url("https://poorly.considered.design/assets/site/dom-profile.jpg");
  background-size: cover;
  background-position: center;
}

.sixty {
  width: 65%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 190;
}

.seventy {
  width: 72%;
  height: 80%;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 180;
}

.seventy-b {
  width: 72%;
  height: 80%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 170;
}

.eighty {
  width: 79%;
  height: 85%;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 160;
}

.eighty-b {
  width: 79%;
  height: 85%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 150;
}

.ninety {
  width: 86%;
  height: 90%;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 140;
}

.ninety-b {
  width: 86%;
  height: 90%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 130;
}

.hunny {
  width: 93%;
  height: 95%;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 120;
}

.ninety-b {
  width: 93%;
  height: 95%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 110;
}

.hunnyy {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.credits {
  width: clamp(150px, 85vw, 650px);
  display: grid;
  grid-template-columns: 60px auto auto;
  // grid-template-columns: minmax(25px, 50px) auto auto;
  align-items: center;
  gap: var(--spacer);

  h5 {
    width: auto !important;
  }

  h5:nth-child(3n + 0) {
    justify-self: end;
  }
}

hr {
  margin: 20px 0 20px 0;
  border: none;
  border-top: 1px solid var(--dark, grey);
}

.nudge {
  transform: translateY(40px);
}

.ghost {
  @include font-size(5, 25);
  color: var(--smoke);
  margin-bottom: -1em !important;
}

.domtest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.domtest2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.domtest3 {
  // display: flex;
  li {
    border-bottom: 1px solid var(--dark);
    list-style-type: none;

    h3 {
      padding-top: var(--spacer);
      padding-bottom: var(--spacer);

      span {
        font-family: Obviously;
        font-size: 32px;
        position: relative;
        top: -16px;
        margin-left: 10px;
      }
    }
  }

  li:last-child {
    border-bottom: none;
  }
}

.space-reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    // @include spacing(0 !important, 0 !important);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

// REUSABLE LAYOUTS

.split {
  @include split(var(--spacer-medium));
  align-items: center;
}

.aside {
  @include aside(40px);
  align-items: center;
}

.tiles {
  @include thirds(0px 40px);
  margin: 20px 0 20px 0;
}

.posters {
  @include triplets(8px);
  margin: 20px 0 20px 0;
  cursor: url("/assets/site/Twitter.svg"), move;

  :first-child {
    transform: translateY(-5%);
  }

  :last-child {
    transform: translateY(5%);
  }
}

.postcards {
  @include fifths(8px);
  margin: 20px 0 20px 0;

  div {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacer);
    padding: var(--spacer);
    height: 400px;
    border-radius: var(--spacer-small);
  }

  h3 {
    @include margin(0, 0);
    color: white;
    &:first-of-type {
      font-family: "Obviously";
      text-transform: uppercase;
    }
  }
}

//TODO

.listings {
  display: grid;
  place-items: center;

  ul {
    display: grid;
    width: clamp(150px, 85vw, 650px);
    // margin: 20vh auto;
    // margin-left: 0px;
    // margin-bottom: 0px;
  }

  li {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 5px;
    // padding-left: 5px;
    // border-bottom: 1px solid rgba(#81a2b2, 0.2);
    padding-top: 25px;
    padding-bottom: 5px;

    .link {
      color: inherit;
      border-bottom: 3px solid var(--accent);
      &:hover {
        background-color: var(--accent);
        color: var(--accent);
        // border-bottom: 3px solid rgba($primary, 0);
        @include transition(all $default-transition);
      }
    }
  }

  //TODO check if this should be H1 and ghosted
  .ordinal {
    color: var(--accent);
    height: 0px;
    transform: translate(-25vw, 5vw);
  }
}
