// TOKENS

body {
  // THEMABLE COLOURS
  --lightness: 25%;
  --opacity: 1;
  --colour-base: hsl(var(--hue), 100%, 25%);
  // DARKER
  --colour-darker: hsl(var(--hue, 245), 100%, 15%);
  --colour-darkest: hsla(var(--hue, 245), 100%, 5%, 1);
  --colour-darkest-dimmed: hsla(var(--hue, 245), 100%, 5%, 0.2);

  --colour-dark-100: hsla(var(--hue, 245), 100%, 5%, 1);
  --colour-dark-75: hsla(var(--hue, 245), 100%, 5%, 0.75);
  --colour-dark-50: hsla(var(--hue, 245), 100%, 5%, 0.5);
  --colour-dark-25: hsla(var(--hue, 245), 100%, 5%, 0.25);
  --colour-dark-20: hsla(var(--hue, 245), 100%, 5%, 0.2);
  --colour-dark-15: hsla(var(--hue, 245), 100%, 5%, 0.15);
  --colour-dark-10: hsla(var(--hue, 245), 100%, 5%, 0.1);

  // WHITES
  --colour-white-50: hsla(255, 100%, 100%, 0.5);
  --colour-white-25: hsla(255, 100%, 100%, 0.25);
  --colour-white-15: hsla(255, 100%, 100%, 0.15);
  --colour-white-10: hsla(255, 100%, 100%, 0.1);
  --colour-white-05: hsla(255, 100%, 100%, 0.05);

  // LIGHTER
  --colour-light-100: hsla(var(--hue, 245), 100%, 55%, 1);
  --colour-light-75: hsla(var(--hue, 245), 100%, 55%, 0.75);
  --colour-light-50: hsla(var(--hue, 245), 100%, 55%, 0.5);
  --colour-light-25: hsla(var(--hue, 245), 100%, 55%, 0.25);
  --colour-light-20: hsla(var(--hue, 245), 100%, 55%, 0.2);
  --colour-light-15: hsla(var(--hue, 245), 100%, 55%, 0.15);
  --colour-light-10: hsla(var(--hue, 245), 100%, 55%, 0.1);

  // SPECIFIC COLOURS
  // --text-headline: hsl(var(--hue), 0%, calc(var(--lightness) + 75%));
  --onyx: hsla(var(--hue, 0), 0%, 0%, var(--opacity));
  --slate: hsla(var(--hue, 0), 0%, 40%, var(--opacity));
  --smoke: hsla(var(--hue, 0), 0%, 80%, var(--opacity));
  --feather: hsla(var(--hue, 0), 0%, 90%, var(--opacity));

  // SPACING TOKENS
  --spacing-unit: 10px;
  --space-xs: calc(var(--spacing-unit) / 2);
  --space-s: var(--spacing-unit);
  --space-m: calc(var(--spacing-unit) * 2);
  --space-l: calc(var(--spacing-unit) * 4);
  --space-xl: calc(var(--spacing-unit) * 10);
  --space-xxl: calc(var(--spacing-unit) * 20);

  // OTHER
  --radius-xs: 2px;
  --radius-s: 5px;
  --radius-m: 10px;
  --radius-l: 20px;

  // CORE THEME
  background-color: white;
  --text-headline: #01001b;
  color: #515060;
  --colour-100: var(--colour-dark-100);
  --colour-50: var(--colour-dark-50);
  --colour-25: var(--colour-dark-25);
  --colour-15: var(--colour-dark-15);
}

// THEMES

// body {
// 	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
// 	background-size: 400% 400%;
// 	animation: gradient 15s ease infinite;
// 	height: 100vh;
// }

.dark {
  --hue: 245;
  --colour-100: white;
  --colour-50: var(--colour-white-50);
  --colour-25: var(--colour-white-25);
  --colour-15: var(--colour-white-15);
  --text-headline: white;
  color: #787797;
  // color: #9C9BBC;
  background-color: var(--colour-darkest);
}

.rose {
  color: #ff6258;
}

.purple {
  color: #9788fc;
}

.peach {
  color: #ff9182;
}

// CONTAINERS

.banner {
  background-color: var(--colour-darkest);
  // padding-bottom: 10em;
}

.banner-image {
  background-image: url("/assets/site/bg-rays.png");
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--colour-darkest);
  border-bottom: 1px solid var(--colour-white-15);
  // background: rgb(1,0,27);
  // background: rgb(131,58,180);
  // background: linear-gradient(160deg, rgba(252,176,69,1) 10%, rgba(1,0,27,1) 12%, rgba(1,0,27,1) 75%, rgba(252,176,69,1) 100%);
  // background-image:
  // radial-gradient(at 40% 20%, hsla(242,100%,5%,1) 0px, transparent 50%),
  // radial-gradient(at 80% 0%, hsla(242,100%,5%,1) 0px, transparent 50%),
  // radial-gradient(at 12% 38%, hsla(242,100%,5%,1) 0px, transparent 50%),
  // radial-gradient(at 23% 98%, hsla(22,100%,77%,.51) 0px, transparent 50%),
  // radial-gradient(at 91% 89%, hsla(340,100%,76%,1) 0px, transparent 50%),
  // radial-gradient(at 0% 0%, hsla(242,100%,5%,1) 0px, transparent 50%);
}

// .banner-break {
//   background-color: var(--colour-darkest);
//   padding-bottom: 7em;
//   padding-top: 7em;
// }

section {
  width: clamp(150px, 85vw, 1180px);
  margin: 6em auto;

  &.bordered {
    margin: 100px auto !important;
    padding: 80px 0 80px 0;
    border-top: 1px solid var(--colour-white-15);
    border-bottom: 1px solid var(--colour-white-15);

    h4 {
      width: auto;
    }
  }
}

.nested {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  column-gap: 150px;
  margin: 0 auto;
  row-gap: 100px;
  padding-top: 7em;
  padding-bottom: 7em;

  h2 {
    margin: 0.5em 0 0.5em 0;
  }

  p {
    margin-bottom: 40px;
  }
}

// HEADERS

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 35vh;
  margin-top: -150px;
  margin-bottom: 0px;
  gap: 100px;
  padding-bottom: 7em;

  .headline {
    flex: 5;
    min-width: 300px;
    max-width: 100%;

    p {
      margin-top: 2.5em;
      width: clamp(325px, 85%, 50ch);
    }
  }

  .focus {
    flex: 2;
    min-width: 200px;
    max-width: 100%;
  }
}

.header {
  padding-top: 25vh;
  margin-top: -150px;
  margin-bottom: 80px;

  p {
    max-width: 55ch;
    margin: 0 auto;
  }

  &.bold {
    color: white;
    h3,
    h4 {
      color: var(--colour-light);
    }
  }

  &.chapter {
    padding-bottom: 60px;
    padding-top: 15em;
    h1 {
      margin-bottom: 0.5em;
    }
  }

  // &.project {
  //   // padding-bottom: clamp(50px, 10vh, 275px);
  //   padding-bottom: clamp(100px, 25vw, 300px);
  //   p {
  //     color: white;
  //   }
  // }

  &.centered {
    text-align: center;
  }
}

.hero-image {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  border-radius: clamp(var(--radius-s), 3%, var(--radius-l));
  display: flex;
  // margin-top: clamp(-50px, -10vh, -275px);
  // margin-top: clamp(-300px, -25vw, -100px);
}

// LAYOUTS

.pair {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 100px;
  row-gap: 30px;

  .bigger {
    flex: 7;
    min-width: 300px;
    max-width: 100%;
  }

  .smaller {
    flex: 4;
    min-width: 200px;
    max-width: 100%;

    h3,
    p {
      width: 100% !important;
    }
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  row-gap: 50px;
  padding: 1em 0;
  h2,
  p {
    width: 100% !important;
    margin: 0px !important;
  }
  a:hover {
    background: var(--colour-light-dimmestest);
    box-shadow: 0 0 0 10px var(--colour-light-dimmestest);
    border-radius: 10px;
    @include transition(all $default-transition);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  row-gap: 10px;
  padding: 1em 0;

  img {
    margin: 0;
    padding: 0;
  }

  .full {
    grid-column: auto / span 12;
  }

  .half {
    grid-column: auto / span 6;
  }

  .third {
    grid-column: auto / span 4;
  }

  .twothirds {
    grid-column: auto / span 8;
  }

  .quarter {
    grid-column: auto / span 3;
  }

  .threequarters {
    grid-column: auto / span 9;
  }

  .tall {
    grid-column: auto / span 6;
    grid-row: auto / span 2;
  }
}

.listings {
  // margin-top: -10vh;
  margin-bottom: 200px;
  ul {
    display: grid;
    width: clamp(150px, 85vw, 650px);
    margin: 0 auto;
  }

  a:hover {
    background-color: var(--colour-light-dimmestest);
    @include transition(all $default-transition);
    border-radius: 10px;
    position: relative;

    p {
      // opacity: .2;
      // font-size: 72px;
      --opacity: 0;
      // background: -webkit-linear-gradient(90deg, var(--colour-light-dimmestest), rgba(0,0,0,.2));
      background: -webkit-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include transition(all $default-transition);
    }

    &:before {
      content: "Continue reading";
      font-family: "Obviously Medium";
      letter-spacing: 1px;
      color: var(--colour-light);
      font-size: 22px;
      position: absolute;
      left: 25px;
      bottom: 25px;
      text-transform: uppercase;
    }
    &:after {
      content: "→";
      font-family: "DEgular Display Regular";
      color: var(--colour-light);
      font-size: 22px;
      position: absolute;
      right: 25px;
      bottom: 25px;
    }
  }

  li {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 15px;
    padding: 25px;
    // padding-bottom: 25px;
    @media (max-width: var(--device-phone)) {
      padding: 0px 0px 25px 0px;
    }
  }
}

.fullwidth {
  height: calc(100vh - 150px - 186px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callout {
  border-radius: var(--radius-m);
  background: var(--colour-darkest);
  box-shadow: 0 0 0 1px var(--colour-light-25);
  @include transition(all $default-transition);
  padding: 20px;

  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  p {
    opacity: 0.65;
  }

  &:hover {
    background: var(--colour-base);
    box-shadow: 0 0 0 5px var(--colour-base);
    transform: translateY(-10px);
    @include transition(all $default-transition);
  }
}

// OVERRIDES

.center {
  align-items: center;
  justify-content: center;
}

.end {
  align-items: end;
}

.reversed {
  order: 1;
}

.space-reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.blur {
  backdrop-filter: blur(10px);
}
