// TODO should this be root instead?

body {
  // Themeable colours
  --lightness: 25%;
  --opacity: 1;
  --colour-base: hsl(var(--hue), 100%, 25%);
  // Darker
  --colour-darker: hsl(var(--hue), 100%, 15%);
  --colour-darkest: hsla(var(--hue), 100%, 5%, 1);
  --colour-darkest-dimmed: hsla(var(--hue), 100%, 5%, 0.2);
  // Lighter
  --colour-lighter: hsl(var(--hue, 260), 100%, 65%);
  --colour-lighter-dimmed: hsla(var(--hue, 260), 100%, 65%, 0.75);
  --colour-lightest: hsl(var(--hue), 100%, 75%, var(--opacity));
  // Specific colours
  --text-headline: hsl(var(--hue), 0%, calc(var(--lightness) + 75%));
  --onyx: hsla(var(--hue, 0), 0%, 0%, var(--opacity));
  --slate: hsla(var(--hue, 0), 0%, 40%, var(--opacity));
  --smoke: hsla(var(--hue, 0), 0%, 80%, var(--opacity));
  --feather: hsla(var(--hue, 0), 0%, 90%, var(--opacity));
  // Spacing variables
  --spacer-small: 10px;
  --spacer: 20px;
  --spacer-medium: 40px;
  --spacer-large: 100px;
}

// THEMES

.indigo {
  --hue: 235;
  --colour-text: white;
  background-image: url("/assets/site/noise.png");
  // background-image: url("/assets/site/noise.svg");
  background-color: var(--colour-darker);
  color: var(--colour-text);
  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

.dark {
  --hue: 235;
  --colour-text: white;
  background-image: url("/assets/site/noise.png");
  background-color: var(--colour-darker);
  color: var(--colour-text);
}
// change to consolidate themes and names
.maroon  {
  --hue: 330;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

.emerald {
  --hue: 170;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

.purple {
  --hue: 266;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-lighter-dimmed);
  }
}

// CORE

article {
  display: grid;
  @include margin(3, 5);
  place-items: center;

  h2,
  h3,
  h4,
  h5,
  p {
    width: clamp(150px, 85vw, 650px);
  }
}

section {
  // display: grid;
  width: clamp(150px, 85vw, 1200px);
  //Make margin a ratio of the space add as a clamp property
  margin: 0 auto;
  padding: 10vh 0;
}

.sectiontest {
  // display: grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  // width: clamp(150px, 85vw, 1200px);
  //Make margin a ratio of the space add as a clamp property
  // margin: 0 auto;
  align-items: center;
  gap: 150px;

  h2 {
    margin: 0.5em 0 0.5em 0;
  }
}

.banner {
  background-color: var(--colour-darkest);
}

.banner-layered {
  background-color: var(--colour-darkest);
  padding-bottom: 500px;
}

.header-bold {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  margin-top: 10vh;
}

.header-centered {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  margin-top: 10vh;
  text-align: center;
}

.header-chapter {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  margin-top: 10vh;
  padding-top: 250px;
  padding-bottom: 60px;
  margin-top: -150px;
  display: grid;
  color: var(--colour-lighter);
  // gap: 30px;
}

.header-chapter-centered {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  margin-top: 10vh;
  padding-top: 250px;
  padding-bottom: 60px;
  margin-top: -150px;
  display: grid;
  color: var(--colour-lighter);
  padding-bottom: 400px;
  text-align: center;
  // gap: 30px;

  p {
    max-width: 55ch;
    margin: 0 auto;
  }
}

.collaborator {
  height: 20px !important;
  width: 20px;
  border-radius: 10px;
}

.collaborator:hover .info {
  visibility: visible;
  position: absolute;
}

.info {
  background: black;
  color: white;
  padding: 20px;
  visibility: hidden;
  position: absolute;
  z-index: 99;
}


.hero-image {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  display: flex;
  margin-top: -350px !important;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  // height: 80vh;
  align-items: flex-end;
  padding-top: 200px;
  margin-top: -150px;
  gap: 100px;
  // grid-template-columns: 8fr 4fr;
  // gap: 20px;
  // align-items: end;

  .headline {
    flex: 5;
    min-width: 300px;
    max-width: 100%;
    p {
      width: clamp(325px, 85%, 50ch);
      // opacity: 0.65;
    }
  }

  .focus {
    flex: 2;
    min-width: 200px;
    max-width: 100%;
  }
}

.pair {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // padding-top: 200px;
  // margin-top: -150px;
  gap: 100px;
  // grid-template-columns: 8fr 4fr;
  // gap: 20px;
  // align-items: end;

  .bigger {
    flex: 7;
    min-width: 300px;
    max-width: 100%;
  }

  .smaller {
    flex: 4;
    min-width: 200px;
    max-width: 100%;

    h3, p { width: 100% !important; }
  }
}
.reversed {
  order: 1;
}

.callout {
  border-radius: 16px;
  background: var(--colour-darkest-dimmed);
  padding: 20px;

  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  p {
    font-size: clamp(18px, 2vw, 22px);
    opacity: 0.65;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.flex {
  /*   display: inline-flex;
  height: 100vh;
  width: 50%; */
  background: red;
}
.flexy {
  height: 80vh;
  background: #00064c;
  position: relative;
  width: 100%;
}

.face {
  background-image: url("https://poorly.considered.design/assets/site/dom-profile.jpg");
  background-size: cover;
  background-position: center;
}

.sixty {
  width: 65%;
  height: 75%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 190;
}

.seventy {
  width: 72%;
  height: 80%;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 180;
}

.seventy-b {
  width: 72%;
  height: 80%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 170;
}

.eighty {
  width: 79%;
  height: 85%;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 160;
}

.eighty-b {
  width: 79%;
  height: 85%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 150;
}

.ninety {
  width: 86%;
  height: 90%;
  opacity: 0.3;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 140;
}

.ninety-b {
  width: 86%;
  height: 90%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 130;
}

.hunny {
  width: 93%;
  height: 95%;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 120;
}

.hunny-b {
  width: 93%;
  height: 95%;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00064c;
  z-index: 110;
}

.hunnyy {
  width: 100%;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.credits {
  width: clamp(150px, 85vw, 650px);
  display: grid;
  grid-template-columns: 60px auto auto;
  // grid-template-columns: minmax(25px, 50px) auto auto;
  align-items: center;
  gap: var(--spacer);

  h5 {
    width: auto !important;
  }

  h5:nth-child(3n + 0) {
    justify-self: end;
  }
}

.tile {
  padding-bottom: 20px;

  &:hover {
    background-color: var(--colour-darkest);
    box-shadow: 0 0 0 15px var(--colour-darkest);
    @include transition(all $default-transition);
    border-radius: 4px;
  }

  h3 {
    font-size: clamp(25px, 3vw, 35px);
  }
}

.vingette {
  margin-bottom: 70px;
  padding-bottom: 20px;

  .vtest &:hover {
    background-color: var(--colour-darkest);
    box-shadow: 0 0 0 20px var(--colour-darkest);
    @include transition(all $default-transition);
    border-radius: 4px;
  }

  img {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }

  div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div > * {
    display: flex;
    align-items: center;
  }

  h3:first-of-type {
    font-family: "Obviously Semi";
    color: var(--colour-lighter);
    margin-right: 20px;
    font-size: 60px;
    margin-top: -10px;
  }

  h3 {
    font-size: clamp(25px, 3vw, 35px);
  }
}

hr {
  margin: 20px 0 20px 0;
  border: none;
  border-top: 1px solid var(--colour-darkest, grey);
}

.nudge {
  transform: translateY(40px);
}

.ghost {
  @include font-size(5, 25);
  color: var(--smoke);
  margin-bottom: -1em !important;
}

.domtest {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  // margin-top: 100px;
  // margin-bottom: 30px;
  h2, h3, p {
    width: 100% !important;
    margin: 0px !important;
  }
}

.center {
  align-items: center;
  justify-content: center;
}

.end {
  align-items: end;
}

// move to base 
.domtest3 {
  // margin-top: 100px;
  // display: flex;
  li {
    border-bottom: 1px solid var(--colour-lighter-dimmed);
    list-style-type: none;

    // h3 {
    //   padding-top: var(--spacer);
    //   padding-bottom: var(--spacer);

    //   .timeline {
    //     font-family: Obviously;
    //     font-size: 32px;
    //     position: relative;
    //     font-feature-settings: normal;
    //     // top: -16px;
    //     // margin-left: 10px;
    //   }
    // }

    .testest {
      display: inline-flex;
      h3 {
        padding-top: var(--spacer);
        padding-bottom: var(--spacer);
        top: -16px;
        margin-left: 10px;
      }

      h3:nth-of-type(2) {
        font-family: Obviously;
        font-size: 32px;
        position: relative;
        font-feature-settings: normal;
      }
    }
  }

  li:last-child {
    border-bottom: none;
  }
}

.space-reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    // @include spacing(0 !important, 0 !important);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

// REUSABLE LAYOUTS

.split {
  @include split(var(--spacer-medium));
  align-items: center;
}

.aside {
  @include aside(40px);
  align-items: center;
}

.tiles {
  @include thirds(0px 40px);
  margin: 20px 0 20px 0;
}

.posters {
  @include triplets(8px);
  margin: 20px 0 20px 0;
  cursor: url("/assets/site/Twitter.svg"), move;

  :first-child {
    transform: translateY(-5%);
  }

  :last-child {
    transform: translateY(5%);
  }
}

.postcards {
  @include fifths(8px);
  margin: 20px 0 20px 0;

  div {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacer);
    padding: var(--spacer);
    height: 400px;
    border-radius: var(--spacer-small);
  }

  h3 {
    @include margin(0, 0);
    color: white;
    &:first-of-type {
      font-family: "Obviously";
      text-transform: uppercase;
    }
  }
}

//TODO

.listings {
  display: grid;
  place-items: center;

  ul {
    display: grid;
    width: clamp(150px, 85vw, 650px);
    // margin: 20vh auto;
    // margin-left: 0px;
    // margin-bottom: 0px;
  }

  li {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 5px;
    // padding-left: 5px;
    // border-bottom: 1px solid rgba(#81a2b2, 0.2);
    padding-top: 25px;
    padding-bottom: 5px;

    .link {
      color: inherit;
      border-bottom: 3px solid var(--colour-lighter);
      &:hover {
        background-color: var(--colour-lighter);
        color: var(--colour-lighter);
        // border-bottom: 3px solid rgba($primary, 0);
        @include transition(all $default-transition);
      }
    }
  }

  //TODO check if this should be H1 and ghosted
  .ordinal {
    color: var(--colour-lighter);
    height: 0px;
    transform: translate(-25vw, 5vw);
  }
}
