// TOKENS

body {
  // THEMABLE COLOURS
  --lightness: 25%;
  --opacity: 1;
  --colour-base: hsl(var(--hue), 100%, 25%);
  // DARKER
  --colour-darker: hsl(var(--hue, 245), 100%, 15%);
  --colour-darkest: hsla(var(--hue, 245), 100%, 5%, 1);
  --colour-darkest-dimmed: hsla(var(--hue, 245), 100%, 5%, 0.2);
  // LIGHTER
  --colour-light: hsl(var(--hue, 245), 100%, 55%);
  --colour-light-dimmed: hsla(var(--hue, 245), 100%, 55%, 0.75);
  --colour-light-dimmest: hsla(var(--hue, 245), 100%, 55%, 0.25);
  --colour-light-dimmestest: hsla(var(--hue, 245), 100%, 55%, 0.1);
  --colour-lighter: hsl(var(--hue, 245), 100%, 65%, var(--opacity));
  // SPECIFIC COLOURS
  --text-headline: hsl(var(--hue), 0%, calc(var(--lightness) + 75%));
  --onyx: hsla(var(--hue, 0), 0%, 0%, var(--opacity));
  --slate: hsla(var(--hue, 0), 0%, 40%, var(--opacity));
  --smoke: hsla(var(--hue, 0), 0%, 80%, var(--opacity));
  --feather: hsla(var(--hue, 0), 0%, 90%, var(--opacity));
  // SPACING TOKENS
  --spacer-small: 10px;
  --spacer: 20px;
  --spacer-medium: 40px;
  --spacer-large: 100px;
  // OTHER
  --radius-s: 4px;
  --radius-m: 8px;
}

// THEMES

.default {
  --hue: 245;
  --colour-text: white;
  color: var(--colour-text);
  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-light-dimmed);
  }
}

.indigo {
  --hue: 245;
  --colour-text: white;
  background-image: url("/assets/site/noise.png");
  background-color: var(--colour-darker);
  color: var(--colour-text);
  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-light-dimmed);
  }
}

.dark {
  --hue: 245;
  --colour-text: white;
  background-image: url("/assets/site/noise.png");
  background-color: var(--colour-darkest);
  color: var(--colour-text);
}

.maroon {
  --hue: 330;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-light-dimmed);
  }
}

.emerald {
  --hue: 170;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-light-dimmed);
  }
}

.purple {
  --hue: 266;
  color: hsl(var(--hue, 260), 100%, 65%);

  hr {
    margin: 20px 0 20px 0;
    border: none;
    border-top: 1px solid var(--colour-light-dimmed);
  }
}

// CONTAINERS

.banner {
  background-color: var(--colour-darkest);
  // padding-bottom: 10em;
}

// .banner-break {
//   background-color: var(--colour-darkest);
//   padding-bottom: 7em;
//   padding-top: 7em;
// }

section {
  width: clamp(150px, 85vw, 1200px);
  margin: 10em auto;
  // padding: 10vh 0;
}

.nested {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  column-gap: 150px;
  margin: 0 auto;
  row-gap: 100px;
  padding-top: 7em;
  padding-bottom: 7em;

  h2 {
    margin: 0.5em 0 0.5em 0;
  }
}

// HEADERS

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 15em;
  margin-top: -150px;
  margin-bottom: 0px;
  gap: 100px;
  padding-bottom: 10em;

  .headline {
    flex: 5;
    min-width: 300px;
    max-width: 100%;
    p {
      width: clamp(325px, 85%, 50ch);
    }
  }

  .focus {
    flex: 2;
    min-width: 200px;
    max-width: 100%;
  }
}

.header {
  padding-top: 250px;
  margin-top: -150px;
  margin-bottom: 1em;

  p {
    max-width: 55ch;
    margin: 0 auto;
  }

  &.bold {
    color: white;
    h3,
    h4 {
      color: var(--colour-light);
    }
  }

  &.chapter {
    padding-bottom: 60px;
    padding-top: 15em;
    h1 {
      margin-bottom: 0.5em;
    }
  }

  &.project {
    // padding-bottom: clamp(50px, 10vh, 275px);
    p {
      color: white;
    }
  }

  &.centered {
    text-align: center;
  }
}

.hero-image {
  width: clamp(150px, 85vw, 1200px);
  margin: 0 auto;
  display: flex;
  // margin-top: -35vw !important;
  margin-top: -17.5vw;
}

// LAYOUTS

.pair {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 100px;
  row-gap: 30px;

  .bigger {
    flex: 7;
    min-width: 300px;
    max-width: 100%;
  }

  .smaller {
    flex: 4;
    min-width: 200px;
    max-width: 100%;

    h3,
    p {
      width: 100% !important;
    }
  }
}

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 1em 0;
  h2,
  p {
    width: 100% !important;
    margin: 0px !important;
  }
  a:hover {
    background: var(--colour-light-dimmestest);
    box-shadow: 0 0 0 10px var(--colour-light-dimmestest);
    border-radius: 10px;
    @include transition(all $default-transition);
  }
}

.listings {
  // margin-top: -10vh;
  margin-bottom: 200px;
  ul {
    display: grid;
    width: clamp(150px, 85vw, 650px);
    margin: 0 auto;
  }

  a:hover {
    background-color: var(--colour-light-dimmestest);
    @include transition(all $default-transition);
    border-radius: 10px;
    position: relative;

    p {
      // opacity: .2;
      // font-size: 72px;
      --opacity: 0;
      // background: -webkit-linear-gradient(90deg, var(--colour-light-dimmestest), rgba(0,0,0,.2));
      background: -webkit-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.2)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include transition(all $default-transition);
    }

    &:before {
      content: "Continue reading";
      font-family: "Obviously Semi";
      letter-spacing: 1px;
      color: var(--colour-light);
      font-size: 22px;
      position: absolute;
      left: 25px;
      bottom: 25px;
      text-transform: uppercase;
    }
    &:after {
      content: "→";
      font-family: "DEgular Display Regular";
      color: var(--colour-light);
      font-size: 22px;
      position: absolute;
      right: 25px;
      bottom: 25px;
    }
  }

  li {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 15px;
    padding: 25px;
    // padding-bottom: 25px;
    @media (max-width: 450px) {
      padding: 0px 0px 25px 0px;
    }
  }
}

.fullwidth {
  height: calc(100vh - 150px - 186px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.callout {
  border-radius: 16px;
  background: var(--colour-darker);
  @include transition(all $default-transition);
  padding: 20px;

  h4 {
    margin-bottom: 10px;
    font-size: 22px;
  }

  p {
    opacity: 0.65;
  }

  &:hover {
    background: var(--colour-base);
    box-shadow: 0 0 0 5px var(--colour-base);
    @include transition(all $default-transition);
  }
}

// OVERRIDES

.center {
  align-items: center;
  justify-content: center;
}

.end {
  align-items: end;
}

.reversed {
  order: 1;
}

.space-reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
