// HEROS
// LAYOUTS

body {
  // Colour variables
  --lightness: 25%;
  --opacity: 1;
  --background: hsl(var(--hue), 100%, 25%);
  --dark: hsl(var(--hue), 100%, 15%);
  --darkest: hsl(var(--hue), 100%, 5%);
  --accent: hsl(var(--hue, 260), 100%, 65%);
  --accent-more: hsl(var(--hue), 100%, 75%);
  --text-headline: hsl(var(--hue), 0%, calc(var(--lightness) + 75%));
  --onyx: hsla(var(--hue, 0), 0%, 0%, var(--opacity));
  --slate: hsla(var(--hue, 0), 0%, 40%, var(--opacity));
  --smoke: hsla(var(--hue, 0), 0%, 80%, var(--opacity));
  --feather: hsla(var(--hue, 0), 0%, 90%, var(--opacity));
  // spacing variables
  --spacer-small: 10px;
  --spacer: 20px;
  --spacer-medium: 40px;
  --spacer-large: 100px;
}

// THEMES

.indigo {
  --hue: 235;
}
.test {
  --hue: 235;
}
.jub {
  --hue: 100;
}
.work {
  --hue: 340;
}
.onyx {
  --background: var(--onyx);
  img {
    width: clamp(350px, 50vw, 1000px);
  }
}

// CORE

article {
  display: grid;
  @include margin(3, 5);
  place-items: center;

  h2,
  h3,
  h4,
  h5,
  p {
    width: clamp(150px, 85vw, 650px);
  }
}

section {
  display: grid;
  width: clamp(150px, 85vw, 1200px);
  //Make margin a ratio of the space add as a clamp property
  margin: 20vh auto;

  p {
    @include font-size(1, 1.5);
  }
}

.credits {
  width: clamp(150px, 85vw, 650px);
  display: grid;
  grid-template-columns: minmax(25px, 50px) auto auto;
  align-items: center;
  gap: var(--spacer);

  h5 {
    width: auto !important;
  }

  h5:nth-child(3n + 0) {
    justify-self: end;
  }
}

hr {
  margin: 20px 0 20px 0;
  border: none;
  border-top: 1px solid var(--dark, grey);
}

.nudge {
  transform: translateY(40px);
}

.ghost {
  @include font-size(5, 25);
  color: var(--smoke);
  margin-bottom: -1em !important;
}

.space-reset {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  img {
    // @include spacing(0 !important, 0 !important);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

// REUSABLE LAYOUTS

.split {
  @include split(var(--spacer-medium));
  align-items: center;
}

.aside {
  @include aside(40px);
  align-items: center;
}

.tiles {
  @include thirds(0px 40px);
  margin: 20px 0 20px 0;
}

.posters {
  @include triplets(8px);
  margin: 20px 0 20px 0;
  cursor: url("/assets/site/Twitter.svg"), move;

  :first-child {
    transform: translateY(-5%);
  }

  :last-child {
    transform: translateY(5%);
  }
}

.postcards {
  @include fifths(8px);
  margin: 20px 0 20px 0;

  div {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacer);
    padding: var(--spacer);
    height: 400px;
    border-radius: var(--spacer-small);
  }

  h3 {
    @include margin(0, 0);
    color: white;
    &:first-of-type {
      font-family: "Obviously";
      text-transform: uppercase;
    }
  }
}
.chapters {
  position: relative;
  h1 {
    @include font-size(5, 15);
    @include margin(0, 0);
    position: absolute;
    transform: translate(-50%, -70%);
    top: 50%;
    color: white;
    left: 50%;
    z-index: 99;
  }
}

// CUSTOM LAYOUTS

.impact {
  display: grid;
  height: 100vh;
  padding-left: 5vw;
  background: var(--background);

  .byline {
    font-family: "Obviously";
    @include font-size(0.5, 1.2);
    text-transform: uppercase;
    font-feature-settings: normal;
    color: var(--darkest);
    line-height: 1.2;
    @include margin(2, 2);
    width: 80%;
  }
  // This has to be a div, otherwise the background colour won't fill it
  > div {
    width: 90vw;
    align-self: end;
    // margin: 300px auto;
  }
  p {
    min-height: 0vw;
    @include font-size(1, 1.1);
    color: var(--dark);
  }

  h5 {
    color: var(--darkest);
    font-family: "Degular Bold";
  }
}

.impact-4 {
  display: grid;
  // height: 100vh;
  padding-top: 40vh;
  padding-left: 5vw;
  background: var(--background);

  .byline {
    font-family: "Obviously";
    @include font-size(0.5, 1.2);
    text-transform: uppercase;
    font-feature-settings: normal;
    color: var(--darkest);
    line-height: 1.2;
    @include margin(2, 2);
    width: 80%;
  }
  // This has to be a div, otherwise the background colour won't fill it
  > div {
    width: 90vw;
    align-self: end;
    // margin: 300px auto;
  }
  p {
    min-height: 0vw;
    @include font-size(1, 1.1);
    color: var(--dark);
  }

  h5 {
    color: var(--darkest);
    font-family: "Degular Bold";
  }
}

.impact-2 {
  display: grid;
  height: 85vh;
  place-items: center;
  background: var(--background);
  width: 90vw;
  margin-left: 5vw;
  align-content: end;
}

.impact-3 {
  display: grid;
  height: 100vh;
  place-items: center;
  background: var(--background);
  width: 100vw;
}

.nostalgia {
  display: grid;
  // height: 85vh;
  place-items: center;

  > div {
    position: relative;
    width: clamp(150px, 85vw, 1500px);
    margin-top: 20vh;
    // margin: 300px auto;
  }
  h1 {
    @include margin(0, 0);
    position: absolute;
    transform: translate(-50%, -60%);
    top: 50%;
    color: white;
    left: 50%;
    z-index: 99;
    line-height: 0.85;
    text-align: center;
  }
}

.photo-grid {
  display: grid;
  column-gap: var(--spacer-medium);
  grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: repeat(9, 3vw);
  grid-template-rows: auto minmax(200px, 300px) 3vw 3vw;
  row-gap: var(--spacer);

  .grid-text {
    grid-column: 1 / span 3;
  }

  > div {
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 0px 10px white;
    border-radius: var(--spacer-small);
  }

  .portrait {
    grid-column: 4 / span 3;
    grid-row: 1 / span 3;
  }
  .landscape {
    grid-column: 1 / span 4;
    grid-row: 2 / span 2;
  }
  .thumbnail {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
  }
}

// Needs a minimum height in px to avoid clipping. Maybe a max too?
// .dom-face {
//   background-image: url(/assets/site/dom-profile.jpg);
//   filter: blur(60px);
//   // -webkit-filter: blur(8px);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 50vh;
// }

// .photo-bomb {
//   display: grid;
//   width: clamp(500px, 80vw, 1200px);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 2;
// }

//TODO

.listings {
  display: grid;
  place-items: center;

  ul {
    display: grid;
    width: clamp(150px, 85vw, 650px);
    // margin: 20vh auto;
    // margin-left: 0px;
    // margin-bottom: 0px;
  }

  li {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 5px;
    // padding-left: 5px;
    // border-bottom: 1px solid rgba(#81a2b2, 0.2);
    padding-top: 25px;
    padding-bottom: 5px;

    .link {
      color: inherit;
      border-bottom: 3px solid var(--accent);
      &:hover {
        background-color: var(--accent);
        color: var(--accent);
        // border-bottom: 3px solid rgba($primary, 0);
        @include transition(all $default-transition);
      }
    }
  }

  //TODO check if this should be H1 and ghosted
  .ordinal {
    color: var(--accent);
    height: 0px;
    transform: translate(-25vw, 5vw);
  }
}
