@mixin spacing($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

@mixin margin($top, $bottom) {
  margin-top: #{$top * $base-line-height + "rem"};
  margin-bottom: #{$bottom * $base-line-height + "rem"};
}

@mixin font-size($min, $max) {
  font-size: clamp(
    #{$min * $base-font-size + "px"},
    #{$min * 2 + "vw"},
    #{$max * $base-font-size + "px"}
  );
}

// BREAKPOINTS
$device-s: 450px;
$device-m: 650px;
$device-l: 768px;
