---
layout: default
title: Career
theme: dark
permalink: /career/
description: I mainly write about design, film, and observations in between. I mainly write about design, film, and observations in between.
---

<section class="header centered">
  <h4>2010 — 2022</h4>
  <h1>Career chapters.</h1>
  <hr />
</section>

{% for chapter in site.chapters %}
<section>
  <div class="tiles end">
    <div>
      <h4 class="{{ chapter.theme }}">{{ chapter.timeframe }}</h4>
      <h2>{{ chapter.role }}</h2>
    </div>
    <div>
      <p>{{ chapter.description }}.</p>
      <button class="link-button {{ chapter.theme }}" onclick="location.href='{{ chapter.url }}'">Read more</button>
    </div>
  </div>

  <div class="tiles">
  {% for project in site.projects %}
  {% capture ctag %}{{chapter.tags}}{% endcapture %}
  {% capture ptag %}{{project.tags}}{% endcapture %}

    {% if ptag == ctag %}
      <a class="halo" href="{{ project.url }}">
        <div class="vingette">
          <img src="{{ project.image }}" />
          <div>
            <div>
              <h3 class="{{ project.theme }}">{{ project.year }}</h3>
              <h3>{{ project.title }}</h3>
            </div>
            {% include svg/arrow-right.svg %}
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <img src="{{ chapter.vingette }}">
{% endfor %}
</section>





