---
layout: default
title: Chapters
permalink: /chapters/
description: I mainly write about design, film, and observations in between. I mainly write about design, film, and observations in between.
---

<div class="nostalgia">
  <div>
    <h1>Chapters.</h1>
    <div class="posters">
      <img src="/assets/projects/poster-test.jpg" />
      <img src="/assets/projects/poster-test.jpg" />
      <img src="/assets/projects/poster-test.jpg" />
    </div>
  </div>
</div>
  <section>
    <div class="split space-reset">
      <div>
        <h1 class="ghost">1</h1>
        <h2>Honing craft with feedback loops</h2>
      </div>
      <div>
        <div class="awards">
          <img src="/assets/projects/cannes.svg" />
          <img src="/assets/projects/cannes.svg" />
          <img src="/assets/projects/cannes.svg" />
        </div>
        <p>
          2020 has been a complete shit show, for all the obvious reasons and a
          few very personal ones. Next year I want to be better, and put all of
          this behind me with progress.
        </p>
      </div>
    </div>
    <div class="postcards">
      {% assign chapters = site.projects | where: "chapter","one" %} {% for
      project in chapters %}
      <a href="{{ project.url }}">
        <div style="background-image: url(/assets/projects/poster-test.jpg">
          <h3 class="byline">{{ project.title }}</h3>
          <h3>{{ project.title }}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="split space-reset">
      <div>
        <h1 class="ghost">2</h1>
        <h2>Honing craft with feedback loops</h2>
      </div>
      <div>
        <div class="awards">
          <img src="/assets/projects/cannes.svg" />
          <img src="/assets/projects/cannes.svg" />
          <img src="/assets/projects/cannes.svg" />
        </div>
        <p>
          2020 has been a complete shit show, for all the obvious reasons and a
          few very personal ones. Next year I want to be better, and put all of
          this behind me with progress.
        </p>
      </div>
    </div>
    <div class="postcards">
      {% assign chapters = site.projects | where: "chapter","two" %} {% for
      project in chapters %}
      <a href="{{ project.url }}">
        <div style="background-image: url(/assets/projects/poster-test.jpg">
          <h3 class="byline">{{ project.title }}</h3>
          <h3>{{ project.title }}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="split space-reset">
      <div>
        <h1 class="ghost">3</h1>
        <h2>Honing craft with feedback loops</h2>
      </div>
      <div>
        <div class="awards">
          <img src="/assets/projects/cannes.svg" />
          <img src="/assets/projects/cannes.svg" />
          <img src="/assets/projects/cannes.svg" />
        </div>
        <p>
          2020 has been a complete shit show, for all the obvious reasons and a
          few very personal ones. Next year I want to be better, and put all of
          this behind me with progress.
        </p>
      </div>
    </div>
    <div class="postcards">
      {% assign chapters = site.projects | where: "chapter","three" %} {% for
      project in chapters %}
      <a href="{{ project.url }}">
        <div style="background-image: url(/assets/projects/poster-test.jpg">
          <h3 class="byline">{{ project.title }}</h3>
          <h3>{{ project.title }}</h3>
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="split space-reset">
      <div>
        <h1 class="ghost">4</h1>
        <h2>Honing craft with feedback loops</h2>
      </div>
      <div>
        <div class="awards">
          <img src="/assets/projects/cannes.svg" />
          <img src="/assets/projects/cannes.svg" />
        </div>
        <p>
          2020 has been a complete shit show, for all the obvious reasons and a
          few very personal ones. Next year I want to be better, and put all of
          this behind me with progress.
        </p>
      </div>
    </div>
  </section>
</div>
