---
layout: default
title: Career
theme: dark
permalink: /career/
description: I mainly write about design, film, and observations in between. I mainly write about design, film, and observations in between.
---

<div class="header-centered">
    <h4>2010 — 2022</h4>
    <h1>Career chapters.</h1>
    <hr />
</div>

{% for chapter in site.chapters %}
<section>
  <div class="domtest end">
    <div>
      <h4>{{ chapter.timeframe }}</h4>
      <h2>{{ chapter.role }}</h2>
    </div>
    <div>
      <p>{{ chapter.description }}.</p>
      <button>Read more</button>
    </div>
  </div>

  <!-- {% assign chapters = site.projects | where: "chapter","one" %} {% for
    project in chapters %}
    <a href="{{ project.url }}">
      <div style="background-image: url(/assets/projects/poster-test.jpg">
        <h3 class="byline">{{ project.title }}</h3>
        <h3>{{ project.title }}</h3>
      </div>
    </a>
    {% endfor %} -->

  <div class="domtest">
    <img src="/assets/projects/digicave/digicave-banner-b.jpg">
    <img src="/assets/projects/digicave/digicave-banner-b.jpg">
    <img src="/assets/projects/digicave/digicave-banner-b.jpg">
  </div>
</section>
{% endfor %}