---
layout: default
title: Blog
permalink: /blog/
image: /assets/blog/writing-opengraph.jpg
description: I mainly write about design, film, and observations in between. I mainly write about design, film, and observations in between.
---

<section class="header">
    <h1 class="fade-in-up-2">Infrequent ideas and essays.</h1>
    <!-- <h5 class="label">Featured</h5> -->
    <!-- <hr /> -->
    <!-- <div class="tiles">
        {% for post in site.posts | limit: 3 %}
          <a href="{{ post.url | prepend: site.baseurl }}">
              <div>
                <img src="{{ post.featured-image }}">
                <h5>{{ post.date | date_to_string }} • {% assign words = post.content |
                  number_of_words %} {% if words < 360 %} 1 min read {% else %} {{ words |
                  divided_by:180 }} min read {% endif %}</h5>
                <h3 href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h3>
              </div>
            </a>
        {% endfor %}
    </div> -->
</section>

<div class="listings fade-in-up-3">
  <ul>
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%Y" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <!-- <h4 class="ordinal" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h4> -->
        <div>
          <h5 class="label" id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h5>
          <hr />
        </div>
        <ul>
        {% assign date = currentdate %}
      {% endif %}
      <a href="{{ post.url | prepend: site.baseurl }}">
          <li>
            <!-- <h5>{{ post.date | date_to_string }} • {% assign words = post.content |
                  number_of_words %} {% if words < 360 %} 1 min read {% else %} {{ words |
                  divided_by:180 }} min read {% endif %}</h5> -->
            <h3 href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</h3>
            <p>{{ post.content | strip_html | truncatewords:30 }}</p>
          </li>
        </a>
      {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </ul>
</div>