---
layout: default
---

<div class="banner">
  <section class="header chapter">
    <h4 class="breadcrumb"><a href="/work">All work</a><span class="icon-text">▶</span> {{ page.timeframe }} </h4>
    <h1>{{ page.role }}</h1>
    <hr />
    <div class="tiles">
      <div>
        <h3>Test</h3>
        <p>
          Dominic Sebastian, a designer by profession, finds himself obsessively
          thinking about how to practice more considered design.
        </p>
      </div>
      <div>
        <h3>Test</h3>
        <p>
          Dominic Sebastian, a designer by profession, finds himself obsessively
          thinking about how to practice more considered design.
        </p>
      </div>
      <div>
        <h3>Test</h3>
        <p>
          Dominic Sebastian, a designer by profession, finds himself obsessively
          thinking about how to practice more considered design.
        </p>
      </div>
    </div>
  </section>
</div>

<article>{{ content }}</article>
