---
layout: default
theme: work
---

<div class="impact-4">
  <div class="aside">
    <div>
      <h1>{{ page.project }}</h1>
      <hr />
      <div class="tiles">
        <div>
          <h5>My role</h5>
          <p>
            Janine Saunders as UX Writer, Mike Nam Lee, Yundi Fu and Ben as
            Engineers
          </p>
        </div>
        <div>
          <h5>My role</h5>
          <p>
            Janine Saunders as UX Writer, Mike Nam Lee, Yundi Fu and Ben as
            Engineers
          </p>
        </div>
        <div>
          <h5>My role</h5>
          <p>
            Janine Saunders as UX Writer, Mike Nam Lee, Yundi Fu and Ben as
            Engineers
          </p>
        </div>
      </div>
    </div>
    <img class="nudge" src="/assets/projects/poster-test.jpg" />
  </div>
</div>
<article>{{ content }}</article>
